/*------------------------------------*
    $CONTENTS
*------------------------------------*/
/**
 * Mobile Menu
 * Visibility
 * Tablet & Small Desktop Widths
 * All Devices under 960px
 * Tablet Landscape
 * Tablet Portrait
 * Phone Portrait and Landscape
 * Phone Landscape
 */

/*------------------------------------*
	Mobile Menu
*------------------------------------*/
#site-logo {
	.retina-logo-link,
	.transparent-retina-logo-link {
		display: none;
	}
}

#site-navigation-wrap .dropdown-menu > li.middle-site-logo > a.retina-logo-link {
	display: none;
}

#oceanwp-mobile-menu-icon {
	display: none;
	float: right;
	position: relative;

	a {
		font-size: 13px;
		line-height: 74px;
		color: #555;
		padding-left: 15px;
		letter-spacing: 0.6px;

		&:first-child {
			padding-left: 0;
		}

		&:hover {
			color: #13aff0;
		}

		&.mobile-menu i {
			padding-right: 6px;
		}
	}
}

/* Top Menu header*/
#site-header.top-header #oceanwp-mobile-menu-icon {
	float: none;
	left: -15px;
	right: auto;

	a {
		font-size: 10px;
		line-height: 40px;
		font-weight: 600;
		letter-spacing: 2px;
		text-transform: uppercase;
	}
}

/* Medium header */
#site-header.medium-header #oceanwp-mobile-menu-icon {
	float: none;
	right: auto !important;
	left: auto !important;

	a {
		float: none;
		display: inline-block;
		font-size: 12px;
		padding: 0 22px;
		line-height: 60px;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
}

/*------------------------------------*
	Retina Logo
*------------------------------------*/
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   -moz-min-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  
	/* logo */
	#site-logo.has-retina-logo {
		.custom-logo-link {
			display: none;
		}

		.retina-logo-link {
			display: block;
		}
	}

	#site-navigation-wrap .dropdown-menu > li.middle-site-logo.has-retina-logo > a {
		&.custom-logo-link {
			display: none;
		}

		&.retina-logo-link {
			display: block;
		}
	}

	/* Transparent logo */
	#site-header.transparent-header #site-logo.has-transparent-logo .transparent-logo-link,
	.is-sticky #site-header.transparent-header #site-logo.has-transparent-logo .custom-logo-link {
		display: none;
	}

	#site-logo.has-transparent-logo {
		.retina-logo-link {
			display: none;
		}

		.transparent-retina-logo-link {
			display: block;
		}
	}

	.is-sticky #site-header.transparent-header #site-logo.has-transparent-logo {
		.retina-logo-link {
			display: block;
		}

		.transparent-retina-logo-link {
			display: none;
		}
	}

}

/*------------------------------------*
	Tablet & Small Desktop Widths
*------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 1280px) { 
	
	/* megamenu */
	.navigation li.megamenu.auto-width.col-6 > .sub-menu {
		width: 980px;
	}

}

/*------------------------------------*
	All Devices under 960px
*------------------------------------*/
@media only screen and (max-width: 959px) {
	
	/* boxed */
	.boxed-main-layout {
		#wrap {
			overflow: hidden;
		}

		.site-breadcrumbs {
			right: auto;
		}
	}
	
	/* container */
	.container,
	body.content-full-screen .elementor-section-wrap > .elementor-section.elementor-section-boxed > .elementor-container {
		max-width: 90%;
	}
	
	/* full width content and sidebar */
	.content-area,
	.content-left-sidebar .content-area {
		float: none;
		width: 100%;
		margin-bottom: 40px;
		padding: 0;
		border: 0;
	}

	.no-margins .content-area,
	.no-margins.content-left-sidebar .content-area {
		margin-bottom: 0;
	}

	.widget-area,
	.content-left-sidebar .widget-area {
		float: none;
		width: 100%;
		padding: 0;
		border: 0;
	}

	body.has-composer.has-sidebar #primary {
		margin-bottom: 40px;
	}

	#main #content-wrap.container {
		width: auto !important;
	}
	
	/* header > logo */
	#site-header.full_screen-header #site-logo.has-full-screen-logo.opened {
		.custom-logo-link {
			display: block;
		}

		.full-screen-logo-link {
			display: none;
		}
	}

	#site-header.center-header #site-logo {
		display: table;
	}

	.has-left-menu #site-logo {
		padding: 0 !important;
	}
	
	/* header > navbar */
	#top-bar-nav,
	#site-navigation-wrap,
	#oceanwp-social-menu {
		display: none;
	}

	#oceanwp-mobile-menu-icon {
		display: block;
	}

	/* Hide social and search form in sidr for the top menu header style */
	.top-header-style {
		.sidr-class-social-menu-inner,
		.sidr-class-mobile-searchform {
			display: none;
		}
	}

	/* Hide social and search form in sidr for the medium header style */
	.medium-header-style {
		.sidr-class-social-menu-inner,
		.sidr-class-mobile-searchform {
			display: none;
		}
	}

	/* header > search overlay */
	#searchform-overlay {
		display: none !important;
	}
	
	/* page title */
	body.has-breadcrumbs .page-header-title {
		max-width: 100%;
		width: 100%;
	}
		
	/* margin footer columns */
	#footer-widgets {
		.col {
			margin-bottom: 30px;
		}
	}

	/* center footer bottom */
	#footer-bottom {
		#copyright,
		#footer-bottom-menu {
			float: none;
			width: 100%;
			padding-right: 0;
			padding-left: 0;
			text-align: center;
		}

		#footer-bottom-menu {
			margin-bottom: 15px;

			li {
				float: none;
				display: inline-block;
			}
		}
	}
	
}

/*------------------------------------*
	Tablet Portrait
*------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
	
	/* main  */
	body.boxed-main-layout #wrap {
		width: auto !important;
	}
	
	/* page header */
	.site-breadcrumbs {
		position: inherit;
		top: auto;
		left: auto;
		right: auto;
		margin-top: 0;
	}
	
	/* turn 4 column masonry grids into 2 columns */
	body .oceanwp-row {
		.span_1_of_4.col-3.col,
		.span_1_of_4.col.product:nth-child(2n+3) {
			margin-left: 0;
			clear: both;
		}
	}

	body .oceanwp-row .span_1_of_4.col,
	body .oceanwp-isotope-grid .span_1_of_4.col {
		width: 50%;
	}
	
}

/*------------------------------------*
	Phone Portrait and Landscape
*------------------------------------*/
@media only screen and (max-width: 767px) {

	/* Visibility */
	.hide-tablet-mobile { display: none !important; }
		
	/* grid & main  */
	#wrap {
		width: 100% !important;
	}

	body.boxed-main-layout #wrap {
		width: auto !important;
	}

	.boxed-main-layout #top-bar-social {
		&.top-bar-right {
			right: auto;
		}

		&.top-bar-left {
			left: auto;
		}
	}

	.col, .blog-entry {
		width: 100% !important;
		margin-bottom: 25px;
	}
	
	/* top-bar */
	#top-bar {
		padding: 20px 0;

		> div:nth-child(2) {
			padding-top: 20px;
		}
	}

	#top-bar-content, #top-bar-social-alt {
		float: none;
		text-align: center;
	}

	#top-bar-social {
		text-align: center;

		&.top-bar-left,
		&.top-bar-right {
			position: inherit;
			left: auto;
			right: auto;
			float: none;
			height: auto;
			line-height: 1.5em;
			margin-top: 0;
		}
	}

	.top-bar-right {
		float: none;
		text-align: center;
	}

	#top-bar-social li,
	#top-bar #top-bar-nav > li {
		float: none;
		display: inline-block;
	}

	#top-bar-nav {
		float: none;
		text-align: center;
	}

	#top-bar #lang_sel {
		text-align: left;
	}

	body.rtl #top-bar #lang_sel {
		text-align: right;
	}

	/* medium header style */
	#site-header.medium-header {
		.top-header-inner {
			display: block;
		}

		.top-col:not(.logo-col) {
			display: none;
		}

		.top-col.logo-col {
			display: inline-block;
			text-align: center;
		}
	}


	/* Show social and search form in sidr for the medium header style */
	.medium-header-style {
		.sidr-class-social-menu-inner,
		.sidr-class-mobile-searchform {
			display: block;
		}
	}

	/* logo */
	#site-logo {
		margin-top: 0px !important;
		margin-bottom: 0px !important;

		&.has-retina-logo {
			.custom-logo-link {
				display: none;
			}

			.retina-logo-link {
				display: block;
			}
		}
	}

	#site-navigation-wrap .dropdown-menu > li.middle-site-logo.has-retina-logo > a {
		&.custom-logo-link {
			display: none;
		}

		&.retina-logo-link {
			display: block;
		}
	}

	/* Transparent logo */
	#site-header.transparent-header #site-logo.has-transparent-logo .transparent-logo-link,
	.is-sticky #site-header.transparent-header #site-logo.has-transparent-logo .custom-logo-link {
		display: none;
	}

	#site-logo.has-transparent-logo {
		.retina-logo-link {
			display: none;
		}

		.transparent-retina-logo-link {
			display: block;
		}
	}

	.is-sticky #site-header.transparent-header #site-logo.has-transparent-logo {
		.retina-logo-link {
			display: block;
		}

		.transparent-retina-logo-link {
			display: none;
		}
	}
	
	/* page header */
	.page-header-with-background .page-header-title {
		font-size: 36px;
	}

	.centered-page-header .page-header-title,
	.centered-minimal-page-header .page-header-title,
	.background-image-page-header .page-header-title {
		font-size: 24px;
	}

	.centered-page-header .page-subheading,
	.centered-minimal-page-header .page-header-subheading,
	.background-image-page-header .page-subheading {
		font-size: 14px;
	}

	.background-image-page-header {
		max-height: 200px;
	}
	
	/* breadcrumbs */
	body.has-breadcrumbs .page-header-title {
		max-width: 100%;
		width: 100%;
	}

	.site-breadcrumbs {
		display: none;
	}
	
	/* blog */
	#related-posts {
		.col {
			float: none;
			width: 100%;
			margin-bottom: 30px;
		}

		.col:last-child {
			margin-bottom: 0;
		}
	}
	
	/* comments */
	#comments ol.children {
		margin-left: 0;
		margin-right: 0;
	}
	
	#respond {
		.comment-form-author,
		.comment-form-email,
		.comment-form-url {
			float: none;
			width: 100%;
			padding-right: 0;
			padding: 0;
			padding-left: 0;
		}
	}
	
	/* sidebar  */
	#main .widget_nav_menu li a:before {
		display: none;
	}
	
}

/*------------------------------------*
	Phone Landscape
*------------------------------------*/
@media only screen and (max-width: 480px) {

	/* Visibility */
	.hide-mobile { display: none !important; }

	/* boxed */
	.boxed-main-layout #wrap .container {
		padding-left: 20px;
		padding-right: 20px;
	}

	/* Hide social and search in menu and show them in sidr for the top menu header style */
	#site-header.top-header {
		.right {
			display: none;
		}

		&.header-replace {
			.left.hide,
			.right.hide {
				visibility: visible;
				opacity: 1;
			}
		}

		.header-top {
			.left,
			.right {
				float: none !important;
				text-align: center;
			}
		}

		#oceanwp-mobile-menu-icon {
			float: none;
			left: auto !important;
			right: auto !important;

			a {
				float: none;
			}
		}

		.header-top .right .inner {
			display: block;
			padding-bottom: 10px;
		}

		#oceanwp-social-menu,
		#search-toggle {
			float: none;
			display: inline-block;
			height: auto;
		}
	}
	
	.top-header-style {
		.sidr-class-social-menu-inner,
		.sidr-class-mobile-searchform {
			display: block;
		}
	}

	/* medium header style */
	#site-header.medium-header {
		.header-top-wrap {
			padding: 20px 0;
		}

		#oceanwp-mobile-menu-icon a {
			line-height: 40px;
		}
	}
	
	/* grid */
	.col {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 30px;
	}

	/* blog  */
	.single-post.media-above-content .thumbnail {
		margin-bottom: 20px;
	}

	.single-post h2.entry-title {
		font-size: 26px;
	}

	ul.meta {
		margin-bottom: 12px;

		li {
			margin-bottom: 8px;
		}
	}

	blockquote {
		margin: 20px 0;
	}
	
	.single nav.post-navigation .nav-links {
		.nav-previous,
		.nav-next {
			float: none;
			width: 100%;
			padding: 0;
		}

		.nav-previous {
			border-right-width: 0;
			border-left-width: 0;
		}
	}

	#author-bio {
		padding: 30px 0 0 0;

		.author-bio-avatar {
			display: none;
		}
	}

	/* comments */
	.comment-body img {
		display: none;
	}

	.comment-author {
		margin-bottom: 16px;

		.comment-link,
		.comment-meta {
			float: none;
		}
	}

	/* 404 page */
	.error404-content {
		.searchform {
			width: 100%;
		}

		.error-btn {
			margin-top: 40px;
		}
	}

	/* footer bottom links menu */
	#footer-bottom #footer-bottom-menu li {
		margin-bottom: 8px;
	}

	/* scroll top button */
	#scroll-top {
		right: 10px;
		bottom: 10px;
		width: 26px;
		height: 26px;
		line-height: 24px;
		font-size: 14px;
	}

}

/*------------------------------------*
	Visibility
*------------------------------------*/
@media only screen and (min-width: 481px) and (max-width: 767px) {

	/* Visibility */
	.hide-tablet { display: none !important; }

}