.sl-header-sec{
    .nav-wrapper{
        width: 100%;
        display: block;
        z-index: 9999;

        .navbar {
            border: none;
            margin: 0;
            background: #000;

            &:before{
                content: '';
                position: absolute;
                bottom: 0px;
                left: 0px;
                width: 25%;
                height: 155px;
                background: #ed145b;

            }
            &:after{
                content: '';
                position: absolute;
                bottom: 0px;
                left: 25%;
                border-top: 111px solid #ed145b;
                border-right: 44px solid transparent;
                border-bottom: 44px solid transparent;
                border-left: 17px solid #ed145b;
                width: 0;
                height: 0;
                box-shadow: -2px 0px 0px #ed145b;

            }
            ul.dropdown-menu {
                position: absolute;
                left: auto;
                right: 0;
                top: 100%;
                min-width: 200px;
                padding: 0px;
                z-index: 100;
                display: none;
                background: #ffffff;
                border-radius: 0;
                border: none;
                border-top: 3px solid $color__theme;
                transition: all 500ms ease;
                -moz-transition: all 500ms ease;
                -webkit-transition: all 500ms ease;
                -ms-transition: all 500ms ease;
                -o-transition: all 500ms ease;
                 box-shadow: none;

                li{
                    position: relative;
                    width: 100%;
                    border-bottom: 1px solid #313131;
                    background: #000;

                    &:last-child{
                        border-bottom: none;
                    }
                    a{
                        position: relative;
                        display: block;
                        padding: 8px 15px;
                        line-height: 24px;
                        font-size: 13px;
                        text-transform: uppercase;
                        color: £#fff;
                        transition: all 500ms ease;
                        -moz-transition: all 500ms ease;
                        -webkit-transition: all 500ms ease;
                        -ms-transition: all 500ms ease;
                        -o-transition: all 500ms ease;
                        &:hover{
                            color: $color__theme !important;
                        }
                    }
                }
            }
            .nav{
                li > a {
                    color: #fff;
                    line-height: 65px;
                    font-weight: bold;
                    text-transform: uppercase;
                    &:hover{
                        color: $color__theme;
                    }
                }
            }
            .site-branding{
                color: #fff;
                text-transform: uppercase;
                position: absolute;
                left: 4%;
                top: 5%;
                max-width: 205px;
                text-align: right;
                display: block;
                float: right;

                p:first-child{
                    margin: 0;
                }
                .navbar-brand{
                    font-size: 26px;
                    font-family: Anton;
                    letter-spacing: 4px;
                    height: auto;
                    width: 100%;
                    display: block;
                    text-align: right;
                    padding: 0;
                    margin-bottom: 16px;
                    margin-left: 0;
                }
                .site-description{
                    font-size: 15px;
                    display: block;
                    width: 100%;
                }
            }
            .navbar-header {
                z-index: 999;
            }
        }
    }
    .social-nav{
        list-style: none;
        padding: 0;
        margin: 0;
        display: inline-block;
        float: right;
        min-height: 39px;

        li{
            display: inline-block;
            margin-right: 20px;
            line-height: 39px;
        }
    }
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{
    background-color: transparent;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #000 !important;
    color: $color__theme !important;
}

.navbar-default .navbar-nav > .active > a{
    background: transparent !important;
}
.nav-wrapper .navbar-nav ul.dropdown-sub {
    top: -5px !important;
    right: 100% !important;
}

.fallback_menu_default {
    float: right !important;
    max-width: 76%;
    text-align: right;
}
.fallback_menu_default ul {
    list-style: none;
    margin: 0;
}
.fallback_menu_default li {
    float: left;
}
.fallback_menu_default li a {
    color: #fff;
    line-height: 46px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px;

    &:hover{
        color: $color__theme;
    }
}
