.inner-banner-wrap{
    position: relative;
    background-size: cover;
    &:before{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        background: rgba(0, 0, 0, 0.5);
    }
}

.inner-banner-content{
    text-align: center;
    padding: 80px 0;

    h2{
        color: #fff;
        margin: 0;
        font-size: 28px;
        text-transform: uppercase;
        margin-bottom: 10px;
        z-index: 99;
        position: relative;
    }
    .breadcrumb{
        background: none;
        border-radius: 0;
        color: #fff;
        z-index: 99;
        position: relative;

        li{
            display: inline-block;
            font-size: 17px;
            color: #fff;
        }
    }
}
.sec-content {
    padding: 50px 0;
}
.widget {
    margin-bottom: 25px;
}

//page content
.blog-post-content {
    padding-top: 35px;
    padding-bottom: 35px;
    border-bottom: 1px solid #f1eded;

    &:first-child{
        padding-top: 0;
    }
    &:last-child{
        border-bottom: none;
    }
    h2{
        font-size: 22px;
        margin-top: 10px;
    }
    .sl-btn{
        background: #ed145b;
        border: 2px solid #ed145b;
        margin-top: 17px;

        &:hover,&:focus{
            background: transparent;
            color: #333;
        }
    }
    .post-thumb{
        margin-bottom: 15px;
    }
    .cat-links{
        display: block;
    }
}
.post-categories{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
        display: inline-block;
    }
}
//metabar
.metabar{
    margin-bottom: 30px;
    margin-top: 25px;
    span.posted-on {
        padding-right: 15px;
        border: 1px solid #eee;
        padding: 6px 10px;

        a{
             margin-left: 5px;
        }
    }
    span.byline {
        border: 1px solid #eee;
        padding: 6px 10px;
    }
    span.post-comments {
        border: 1px solid #eee;
        padding: 6px 10px;
    }
}

//metabar
.metabar-wrap{
    margin-bottom: 30px;
    margin-top: 25px;
    span.posted-on {
        padding-right: 15px;
        border: 1px solid #eee;
        padding: 6px 10px;

        a{
             margin-left: 5px;
        }
    }
    span.article-full-date {
        border: 1px solid #eee;
        padding: 6px 10px;
    }
    span.post-comment {
        border: 1px solid #eee;
        padding: 6px 10px;
    }
    span{
        font-size: 13px;
    }
}


// Comments
//comment form

.comment-respond{
    .comment-reply-title{
        font-size: 24px;
        margin: 0;
        margin-bottom: 10px;
        text-transform: capitalize;
    }
    .comment-form{
            margin-bottom: 20px;
            label{
                display: block;
                font-size: 16px;
            }
            input{
                background: none;
                border: 2px solid #e2e2e2;
                outline: 0;
                font-size: 16px;
                padding: 0;
                box-shadow: none;
                -webkit-transition: all 0.3s;
                border-radius: 0;
                height: 40px;
                width: 100%;
                padding: 0 10px;
                transition: all 0.5s ease-out 0s;
                &:active, &:focus{
                    border: 2px solid #ed145b;
                }
            }
            textarea{
                height: 200px;
                padding: 10px;
                background: none;
                border: 2px solid #e2e2e2;
                outline: 0 !important;
                transition: all 0.5s ease-out 0s;
                width: 100%;
                &:active, &:focus{
                    border: 2px solid #ed145b;
                }
            }
            input[type="submit"]{
                @extend .sl-btn;
                text-transform: capitalize;
                margin-top: 5px;
                background: #ed145b;
                border: 2px solid #ed145b;
                margin-top: 17px;

                &:hover,&:focus{
                    background: transparent;
                    color: #333;
                }
            }

        .comment-notes {
            margin-bottom: 25px;
        }
    }
}
.comments-area{
    margin-top: 40px;
    h2{
        font-size: 24px;
        font-weight: lighter;
        margin: 0;
        margin-bottom: 10px;
        text-transform: capitalize;
    }
    .comment-author {
        b.fn {
            margin-left: 7px;
        }
        span.says {
            display: none;
        }
        img{
            width: 40px;
            display: inline-block;
            max-width: 100%;
            height: auto;
            padding: 2px;
            line-height: 1.42857143;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 4px;
            margin-top: 15px;
            -webkit-transition: all .2s ease-in-out;
            -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
        }
    }
    .comment-metadata {
        margin-left: 52px;
        margin-top: 5px;
        margin-bottom: 14px;
        time{
            font-size: 14px;
            color: #999;
        }
    }
    .comment-content {
        margin-left: 51px;
        padding: 20px;
        background: #f3f3f3;
        margin-bottom: 27px;
    }
    .reply{
        text-align: right;
        margin-top: 16px;
        a{
            @extend .sl-btn;
            background: #ed145b;
            border:2px solid  #ed145b;
            color: #fff;
            border-radius: 4px;
            &:hover{
                background: none;
                 color: #333;
            }
        }
    }
    ol.children {
        padding: 0;
        list-style: none;
        margin-left: 56px;
    }
    ol.comment-list{
        list-style: none;
        padding: 0;
        &:last-child{
            margin-bottom :0;
        }
    }
    .comment-subscription-form{
        input[type="checkbox"]{
            height: auto !important;
        }
    }
    .comment {
        list-style: none;
    }
}
.nav-links {
    width: 100%;
    .nav-previous{
        width: 50%;
        display: inline-block;
        border: 1px solid #e2e2e2;
    }
    .nav-next{
        width: 50%;
        display: inline-block;
        border: 1px solid #e2e2e2;
        text-align: right;
    }
}
.nav-links .nav-previous a {
}
.nav-links a, .nav-links span {
    padding: 1em 2em;
    margin-right: 5px;
    display: inline-block;
    background: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    color: #333;
    position: relative;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    &:hover{
        color: #ed145b;
    }
}

.not-found{
    .page-header{
        margin-top: 0;
        h1{
                margin-top: 0;
        }
    }
    .search-form{
        label{
            width: 40%;
        }
        .search-submit{
            width: auto;
        }
        margin-top: 20px;
    }
}

header.entry-header{
    h1.entry-title{
        font-size: 25px;
        text-transform: uppercase;
        margin-top: 0;

    }
}
article .entry-content img {
    margin-bottom: 15px;
}
.blog-post-content .mejs-audio{
    margin-bottom: 15px;
}
.blog-post-content iframe{
    margin-bottom: 15px;
    width: 100%;
}
.metabar a{
    color: #333;
    &:hover{
        color: $color__theme;
    }
}
.single .blog-post-content {
    padding-bottom: 35px;
    border: none;
}
.sungit-gallery-carousel .slick-slide{
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
}
nav.navigation.posts-navigation {
    margin-top: 30px;
}
.sungit-gallery-carousel{
    margin-bottom: 15px;
    .slick-prev{
        position: absolute;
        top: 50%;
        left: 2%;
        opacity: 1;
        background: #ed145b;
        color: #fff;
        width: 37px;
        height: 37px;
        margin-right: 4px;
        box-shadow: none;
        font-size:0;
        z-index:9;
        line-height: 44px;
        border: none;
        &:before{
            content: "\f177";
            font-family: FontAwesome;
        }
    }
    .slick-next{
        position: absolute;
        top: 50%;
        right: 2%;
        opacity: 1;
        background: #ed145b;
        color: #fff;
        width: 37px;
        height: 37px;
        box-shadow: none;
        font-size:0;
        line-height: 44px;
        border: none;
        &:before{
            content: "\f178";
            font-family: FontAwesome;
        }
    }
    .slick-next:before, .slick-prev:before{
        font-size: 17px;
        line-height: 1;
    }
}
span.sungit-lite-tags {
    display: block;
    margin-top: 15px;
}
.sungit-lite-tags a {
    background: #ed145b;
    color: #fff;
    font-size: 14px !important;
    padding: 5px 8px;
    margin-right: 3px;
    margin-bottom: 8px;
    display: inline-block;
}
//custom field
.custom-name-field{
    display: inline-block;
    h3 {
        font-size: 18px;
        text-transform: capitalize;
    }
}
.custom-value-field{
    display: inline-block;
}
.metabar span {
    font-size: 13px;
}
.page #main .post-content h2 {
    margin-top: 0;
}
.page .image-post {
    margin-bottom: 20px;
}
