$color__background-body: #fff;
$color__background-button: #ed145b;
$theme__colorbackground: #ed145b;

$color__black-light: #333;
$color__theme: #ed145b;


// Typography

$title-family:  'Anton';
$text-btn:  'Open Sans';
