.so-widget-sow-social-media-buttons-flat-369ca2705706 .social-media-button-container {
  zoom: 1;
  text-align: center;
  /*
    &:after {
        content:"";
        display:inline-block;
        width:100%;
    }
    */
}
.so-widget-sow-social-media-buttons-flat-369ca2705706 .social-media-button-container:before {
  content: '';
  display: block;
}
.so-widget-sow-social-media-buttons-flat-369ca2705706 .social-media-button-container:after {
  content: '';
  display: table;
  clear: both;
}
.so-widget-sow-social-media-buttons-flat-369ca2705706 .sow-social-media-button-facebook {
  color: #404040 !important;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}
.so-widget-sow-social-media-buttons-flat-369ca2705706 .sow-social-media-button-facebook:visited,
.so-widget-sow-social-media-buttons-flat-369ca2705706 .sow-social-media-button-facebook:active,
.so-widget-sow-social-media-buttons-flat-369ca2705706 .sow-social-media-button-facebook:hover {
  color: #404040 !important;
}
.so-widget-sow-social-media-buttons-flat-369ca2705706 .sow-social-media-button-facebook.ow-button-hover:hover {
  color: #4a4a4a;
}
.so-widget-sow-social-media-buttons-flat-369ca2705706 .sow-social-media-button-facebook.ow-button-hover:hover {
  background: #ffffff;
  border-bottom-color: #ffffff;
}
.so-widget-sow-social-media-buttons-flat-369ca2705706 .sow-social-media-button-pinterest {
  color: #404040 !important;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}
.so-widget-sow-social-media-buttons-flat-369ca2705706 .sow-social-media-button-pinterest:visited,
.so-widget-sow-social-media-buttons-flat-369ca2705706 .sow-social-media-button-pinterest:active,
.so-widget-sow-social-media-buttons-flat-369ca2705706 .sow-social-media-button-pinterest:hover {
  color: #404040 !important;
}
.so-widget-sow-social-media-buttons-flat-369ca2705706 .sow-social-media-button-pinterest.ow-button-hover:hover {
  color: #4a4a4a;
}
.so-widget-sow-social-media-buttons-flat-369ca2705706 .sow-social-media-button-pinterest.ow-button-hover:hover {
  background: #ffffff;
  border-bottom-color: #ffffff;
}
.so-widget-sow-social-media-buttons-flat-369ca2705706 .sow-social-media-button-envelope {
  color: #404040 !important;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}
.so-widget-sow-social-media-buttons-flat-369ca2705706 .sow-social-media-button-envelope:visited,
.so-widget-sow-social-media-buttons-flat-369ca2705706 .sow-social-media-button-envelope:active,
.so-widget-sow-social-media-buttons-flat-369ca2705706 .sow-social-media-button-envelope:hover {
  color: #404040 !important;
}
.so-widget-sow-social-media-buttons-flat-369ca2705706 .sow-social-media-button-envelope.ow-button-hover:hover {
  color: #4a4a4a;
}
.so-widget-sow-social-media-buttons-flat-369ca2705706 .sow-social-media-button-envelope.ow-button-hover:hover {
  background: #ffffff;
  border-bottom-color: #ffffff;
}
.so-widget-sow-social-media-buttons-flat-369ca2705706 .sow-social-media-button-twitter {
  color: #404040 !important;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}
.so-widget-sow-social-media-buttons-flat-369ca2705706 .sow-social-media-button-twitter:visited,
.so-widget-sow-social-media-buttons-flat-369ca2705706 .sow-social-media-button-twitter:active,
.so-widget-sow-social-media-buttons-flat-369ca2705706 .sow-social-media-button-twitter:hover {
  color: #404040 !important;
}
.so-widget-sow-social-media-buttons-flat-369ca2705706 .sow-social-media-button-twitter.ow-button-hover:hover {
  color: #4a4a4a;
}
.so-widget-sow-social-media-buttons-flat-369ca2705706 .sow-social-media-button-twitter.ow-button-hover:hover {
  background: #ffffff;
  border-bottom-color: #ffffff;
}
.so-widget-sow-social-media-buttons-flat-369ca2705706 .sow-social-media-button {
  font-size: 1.33em;
  padding: 0.5em 0.5em;
  margin: 0.1em 0.05em 0.1em 0.05em;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 1em;
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  border-radius: 1.5em;
}
.so-widget-sow-social-media-buttons-flat-369ca2705706 .sow-social-media-button .sow-icon-fontawesome {
  width: 1em;
  height: 1em;
  display: inline-block;
}