/*
Theme Name: Fudge Lite
Theme URI: http://www.showthemes.com/conference-wordpress-theme-fudge
Author: Showthemes
Author URI: http://www.showthemes.com
Description: Fudge Lite is a responsive event WordPress theme. This theme is perfect for industry professionals with a need to showcase an event using a stunning one page layout.
Version: 1.4
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: one-column, grid-layout, custom-background, custom-colors, custom-header, custom-menu, custom-logo, featured-images, full-width-template, theme-options, translation-ready, e-commerce, education, entertainment
Text Domain: fudge-lite
*/

@font-face {
    font-family: 'Genericons';
    src: url('fonts/genericons/Genericons.eot');
    src: url('fonts/genericons/Genericons.eot?#iefix') format('embedded-opentype'),
	url('fonts/genericons/Genericons.woff') format('woff'),
	url('fonts/genericons/Genericons.ttf') format('truetype'),
	url('fonts/genericons/Genericons.svg#genericonsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

aside{
    padding-left: 20px;
}
aside li a {
    color: #121212;
    display: block;
    font: bold 14px Montserrat;
    text-transform: uppercase;
}
aside li {
    padding: 10px;
}
#menu-main-menu .register a{
    border-radius: 6px;
    color: #fff;
    float: right;
    margin-right: 0;
    padding: 14px 18px;
    display: block;
    font: bold 14px Montserrat;
    text-transform: uppercase;
    background-color: #ea8484 !important;
}
.archive h1, .search h1{
    font-size: 40px;
    margin-bottom: 10px;
}
.archive .description{
    text-align: center;
}
.search #blog p{
    text-align: center;
}
.custom-logo-link.site-title{
    font: bold 14px Montserrat;
    color: #121212;
    text-transform: uppercase;
    margin: 20px 0 0;
    font-size: 30px;
    width: auto;
}
#blog .post{
    text-align: center;
    background: none;
}
#blog.attachment, .attachment #blog{
    text-align:center;
}
#blog.attachment h1, .single #blog h1{
    margin-bottom:20px;
    font-size: 40px;
    line-height: 50px;
}
.wp-video, .wp-audio-shortcode{
    margin-bottom: 20px;
}
.wp-caption-text{
    font-size: 14px !important;
    color: #121212;
}
table th, table td{
    border: 1px solid #6d6d6d;
    padding: 5px;
}
article ul li{
    text-align: left;
}
#blog,.comment-content,h1,h2,h3,h4,h5,h6{
    word-break: break-all;
}
#menu-social{
    margin-top: 60px;
    list-style: none;
    margin:     0 0 25px;
    text-align: center;
}
#menu-social li {
    display:  inline-block;
    position: relative;
}
#menu-social .screen-reader-text {
    position: absolute;
    top:      -9999em;
    left:     -9999em;
}
#menu-social li a::before {
    content:        '\f408';
    display:        inline-block;
    padding:        0 5px;
    font-family:    'Genericons';
    font-size:      50px;
    vertical-align: top;

    -webkit-font-smoothing: antialiased;
}

#menu-social li a[href*="wordpress.org"]::before,
#menu-social li a[href*="wordpress.com"]::before {
    content: '\f205';
    color:   #21759b;
}
#menu-social li a[href*="facebook.com"]::before {
    content: '\f203';
    color:   #3b5998;
}
#menu-social li a[href*="twitter.com"]::before {
    content: '\f202';
    color:   #33ccff;
}
#menu-social li a[href*="dribbble.com"]::before {
    content: '\f201';
    color:   #ea4c89;
}
#menu-social li a[href*="plus.google.com"]::before {
    content: '\f206';
    color: #dd4b39;
}
#menu-social li a[href*="pinterest.com"]::before {
    content: '\f210';
    color:   #c8232c;
}
#menu-social li a[href*="github.com"]::before {
    content: '\f200';
    color:   #171515;
}
#menu-social li a[href*="tumblr.com"]::before {
    content: '\f214';
    color:   #34526f;
}
#menu-social li a[href*="youtube.com"]::before {
    content: '\f213';
    color:   #c4302b;
}
#menu-social li a[href*="flickr.com"]::before {
    content: '\f211';
    color:   #ff0084;
}
#menu-social li a[href*="vimeo.com"]::before {
    content: '\f212';
    color:   #1AB7EA;
}
#menu-social li a[href*="instagram.com"]::before {
    content: '\f215';
    color:   #3f729b;
}
#menu-social li a[href*="codepen.io"]::before {
    content: '\f216';
    color:   #000;
}
#menu-social li a[href*="linkedin.com"]::before {
    content: '\f208';
    color:   #0e76a8;
}
.page-links{
    margin: 10px 0;
}
.page-links a{
    margin: 0 5px;
    border: 1px solid #6d6d6d;
    padding: 0 3px;
    color: #6d6d6d;
}

/* default widgets */


@media only screen and (max-width: 978px){
    #menu-main-menu .register {
        display: block;
        margin: 0;
    }
    #menu-main-menu .register a {
        float: none;
        width: auto;
        display: inline-block;
        margin: 0;
    }
}

@media only screen and (max-width: 460px){
    #menu-main-menu .register a {
        display: inline-block;
        float: none;
        margin: 0;
    }
}

// menu
header li {
    position: relative;
}
.menu .menu ,
.sub-menu,
.sub-menu .sub-menu {
    display: none !important;
    background: #fff;
    float: none;
    top: auto;
    position: relative;
    padding: 10px 0;
    margin: 0 !important;
}
.menu .menu .menu-item,
.sub-menu .sub-menu .menu-item,
.sub-menu .menu-item {
    margin: 0;
}
.menu .menu .menu-item a,
.sub-menu .menu-item a,
.sub-menu .sub-menu .menu-item a {
    display: block;
    padding: 5px 0;
}
.menu-item.opened>.menu ,
.menu-item.opened>.sub-menu {
    display: block !important;
}
.menu-item__submenu-icon {
    position: absolute;
    z-index: 5;
    top: 3px;
    right: 0;
    width: 40px;
    height: 40px;
    padding: 7px 9px;
    color: #fff;
    font-size: 23px;
    line-height: 24px;
    cursor: pointer;
}
.menu-item__submenu-icon:before,
.menu-item__submenu-icon:after {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 42%;
    background: #000;
    content: '';
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    -webkit-transition: 0.3s ease opacity;
    transition: 0.3s ease opacity;
}
.menu-item__submenu-icon:after {
    width: 42%;
    height: 4px;
}
.opened>.menu-item__submenu-icon:before {
    opacity: 0;
}
.opened {
    z-index: 4;
}
.page-template-template-home header{
    overflow: hidden;
}
.home header, .archive header, .search header, .single header{
    height: auto;
}
.page-template-template-home.home header{
    height: 130px;
}

/* default widgets */
.widget-title {margin-top: 20px;font-size: 26px;}
.widget_archive ul, .widget_categories ul, .widget_pages ul, .widget_meta ul, .widget_recent_comments ul, .widget_rss ul, .widget_nav_menu ul, .widget_recent_entries{list-style: none;padding:0;}
.widget_archive ul li a, .widget_categories ul li a, .widget_pages ul li a, .widget_meta ul li a, .widget_recent_comments ul li a, .widget_recent_entries ul li a, .widget_rss ul li a, .widget_tag_cloud .tagcloud a, .widget_nav_menu a{color:#6d6d6d;text-decoration: underline;}
.widget_archive select, .widget_categories select{color:#6d6d6d;}
.widget_calendar table{margin: 0 auto;}
.widget-title .rsswidget{color:#6d6d6d;text-decoration: underline;}
.widget_search .searchform input{float:none; border: 1px solid #6d6d6d;width:300px;height: auto;padding: 10px;}
.widget_search .searchform .submit{border: none;width: 30px;}

@media only screen and (min-width: 978px) {

    .menu .menu,
    .sub-menu,
    .sub-menu .sub-menu {
        display: block !important;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 20px;
        left: -10px;
        width: 150px;
        padding: 10px;
        background: #fff;
        border-radius: 2px;
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.05);
        z-index: 3;
        -webkit-transition: 0.3s ease opacity, 0.3s ease visibility;
        transition: 0.3s ease opacity, 0.3s ease visibility;
    }
    .menu .menu .menu ,
    .sub-menu .sub-menu {
        top: 0;
    }
    .menu-item.opened>.menu ,
    .menu-item.opened>.sub-menu {
        opacity: 1;
        visibility: visible;
    }
    .menu .menu .menu-item ,
    .sub-menu .menu-item ,
    .sub-menu .sub-menu .menu-item {
        position: relative;
        display: block;
        float: none;
        margin: 0;
        text-align: left;
    }
    .menu-item__submenu-icon {
        width: 30px;
        height: 30px;
        top: -1px;
        right: 0;
    }
    #menu-main-menu>.menu-item>.menu-item__submenu-icon {
        top: -6px;
        right: -27px;
    }
    .menu-main-menu-container {
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 320px);
        text-align: right;
    }
    header li {
        display: inline-block;
        vertical-align: top;
        float: none;
    }
    header .container {
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-align: center;
        -moz-align-items: center;
        align-items: center;
        -ms-flex-pack: justify;
        -moz-justify-content: space-between;
        justify-content: space-between;
    }
    header ul {
        margin: 0;
    }
    header.sticky ul {
        margin-top: 12px;
    }

}