/**

Theme Name: Nevada Lite
Description: Nevada Lite is a clean, minimal and responsive child theme for Alhena Lite, based on Bootstrap framework, with a different layout for some elements like the side sidebar and the footer and with new Google Fonts. Nevada Lite is ecommerce ready and is optimized to work with WooCommerce and Contact Form 7 plugins.
Author: ThemeinProgress.
Author URI: https://www.themeinprogress.com
Version: 1.0.1
Template: alhena-lite
Tags: blog, custom-background, custom-colors, custom-header, custom-logo, custom-menu, e-commerce, featured-images, flexible-header, footer-widgets, post-formats, right-sidebar, sticky-post, theme-options, threaded-comments, translation-ready, one-column, two-columns, three-columns, grid-layout, food-and-drink, news, photography
Text Domain: nevada-lite
Domain Path: /languages
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Nevada Lite WordPress Theme is child theme of Alhena Lite WordPress Theme, Copyright 2017 ThemeinProgress.com
Nevada Lite WordPress Theme is distributed under the terms of the GNU GPL

*/

body,
p, 
li, 
address, 
dd, 
blockquote, 
td, 
th,
.textwidget,
h1,
h2,
h3,
h4,
h5,
h6,
.title h1,
.title h2,
.title h3,
.title h4,
.title h5,
.title h6 , 
#slogan p,
nav#mainmenu ul li a {
	font-family: 'Source Sans Pro', sans-serif
}

#logo a.logo { 
	font-family: 'Marck Script', cursive;
} 

#slogan {
    text-align: left;
}

#slogan p {
    margin:0;
}

.post-article {
    padding: 50px;
}

header.header,
.header-cart-widget,
nav#mainmenu ul ul {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.header-cart-widget:before,
.header-cart-widget:before ,
nav#mainmenu ul ul:before {
	display:none;
	visibility:hidden;
}

nav#mainmenu ul li a:hover,
nav#mainmenu li:hover > a,
nav#mainmenu ul li.current-menu-item > a, 
nav#mainmenu ul li.current_page_item > a, 
nav#mainmenu ul li.current-menu-parent > a, 
nav#mainmenu ul li.current_page_ancestor > a, 
nav#mainmenu ul li.current-menu-ancestor > a { 
	color: inherit;
}

nav#mainmenu ul li a   { 
	color:#F5F7FA; 
}

.post-article blockquote { 
	border-left: 4px solid #ddd ; 
	padding:25px; 
	position:relative; 
	margin-left:0px;
	background:#f6f6f6;
	font-style:italic;
	margin:25px 0
}

.post-article blockquote p { 
	text-align:left; 
	line-height:1.6em;
	margin:0 	
}

.woocommerce .cart-collaterals .cart_totals, 
.woocommerce-page .cart-collaterals .cart_totals,
.woocommerce .woocommerce_cart_details,
#sidebar.nevada-lite-sidebar .post-article {
	padding:50px;
}

#add_payment_method .wc-proceed-to-checkout, 
.woocommerce-cart .wc-proceed-to-checkout, 
.woocommerce-checkout .wc-proceed-to-checkout {
    padding: 1em 0 0 0;
}

#sidebar.nevada-lite-sidebar .post-article { 
	margin-bottom:25px !important;
}

#sidebar.nevada-lite-sidebar .post-container,
#sidebar.nevada-lite-sidebar .post-article:last-of-type {
	margin-bottom:0 !important;
}

.woocommerce_cart_page.post-container {
    margin-bottom:45px;
}

#footer {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

#footer .socials { 
	float:none;
	margin:25px auto
}

#footer .socials a { 
	height:40px;
	width:40px;
	line-height:40px;
}

#footer .copyright .col-md-6 { 
	width:100%;
}

#footer .copyright {
    padding: 50px 0 25px 0;
    text-align: center;
}