/* ===============================================
   Woocommerce Header Cart
   ============================================= */

.header-cart { 
	text-decoration:none; 
	display:inline-block; 
	padding:35px 0;
	z-index:1000; 
	color:#444; 
	-webkit-transition: all .3s linear; 
	-moz-transition: all .3s linear; 
	-o-transition: all .3s linear;
	text-transform:uppercase;
	float:right;
	position:relative;
	font-weight:400;
    line-height: 1.8em;
}

.header-cart a.cart-contents { 
	color:#fff; 
}

.header-cart .widget_shopping_cart li.empty {
	padding:0 !important;
	border:none;
	text-transform:none
}

.header-cart-widget:before {
	content: '';
	display: inline-block;
	position: absolute;
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #474747;
	top: -8px;
	right:15px;
	z-index: 1000;
}

body.woocommerce-cart .header-cart-widget:before,
body.woocommerce-checkout .header-cart-widget:before {
	display:none;
	visibility:hidden;
}

.header-cart-widget { 
	display:none;
	position: absolute; 
	top:55px; 
	right:-15px;
	background:#474747; 
	width:300px;
	z-index:1001;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4)
}

.header-cart-widget p , 
.header-cart-widget span, 
.header-cart-widget li, 
.header-cart-widget a { 
	color:#fff
}

.header-cart-widget .widget_shopping_cart {
	padding:15px;
	text-align:center;
	width:100%;
}

.header-cart-widget .widget_shopping_cart a {
	text-transform:none;
}

.woocommerce ul.cart_list li dl.variation {
	display:none;
	visibility:hidden;
}

.woocommerce-cart .cart-collaterals .cart_totals table th {
    width: 50%;
}

.header-cart-widget .widget_shopping_cart li,
.header-cart-widget .product_list_widget li  {
    border-bottom: none;
}

.header-cart-widget .widget_shopping_cart a.remove {
    background-color: #3498db;
    border: none;
}

.header-cart-widget .widget_shopping_cart a.remove:hover{
    background-color: #2980b9;
	color:#fff !important
}

.header-cart-widget .widget_shopping_cart a.button {
    margin-right: 5px !important;
    margin-bottom: 5px !important;
}

/* ===============================================
   Woocommerce Form
   ============================================= */

.woocommerce form.checkout_coupon, 
.woocommerce form.login, 
.woocommerce form.register {
    border: 1px solid #ddd;
	-moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.woocommerce form.checkout_coupon .form-button, 
.woocommerce form.login .form-button, 
.woocommerce form.register .form-button {
	margin:15px 0;
}

.woocommerce .coupon-form-checkout  {
    border: solid 1px #ddd;
    padding: 20px;
    text-align: left;
	-moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
	margin:10px 0 30px 0
}

.woocommerce .coupon-form-checkout p ,
.woocommerce .coupon-form-checkout .woocommerce-error, 
.woocommerce .coupon-form-checkout .woocommerce-message, 
.woocommerce .coupon-form-checkout .woocommerce-info {
	margin-bottom:0 !important;
}

.woocommerce .coupon-form-checkout .checkout_coupon p {
	margin:15px 0;
}

.woocommerce table.shop_table.customer_details th, 
.woocommerce table.shop_table.customer_details td,
.woocommerce table.shop_table.customer_details tfoot td, 
.woocommerce table.shop_table.customer_details tfoot th {
    border-top: none;
}

.woocommerce .coupon-form-checkout .woocommerce-error li {
	line-height:inherit
}

.woocommerce .coupon-form-checkout .woocommerce-error, 
.woocommerce .coupon-form-checkout .woocommerce-message, 
.woocommerce .coupon-form-checkout .woocommerce-info {
	margin-top:1em !important;
	padding:0 0 0 3.5em!important;	
}

.woocommerce .coupon-form-checkout .woocommerce-error:before ,
.woocommerce .coupon-form-checkout .woocommerce-message:before ,
.woocommerce .coupon-form-checkout .woocommerce-info:before {
	left:0;
}

.woocommerce .coupon-form-checkout form .form-row.form-row-first,
.woocommerce .coupon-form-checkout form .form-row.form-row-last,
.woocommerce .coupon-form-checkout form .form-row input.input-text {
	width:100%;
}

.woocommerce .coupon-form-checkout form.checkout_coupon {
	border:none;
	padding:0;
	margin-top:20px;
	margin-bottom:0;
}

.woocommerce form .form-row input.input-text, 
.woocommerce form .form-row textarea ,
.woocommerce form .form-row select {
    padding: 10px;
    margin: 0;
    width: 100%;
    line-height: 20px;
	border-width:1px;
	border-style:solid;
	border-color:#ddd;
}

.select2-container .select2-choice,
.woocommerce form.login .form-row input.input-text, 
.woocommerce form.woocommerce-checkout .form-row input.input-text, 
.woocommerce form.woocommerce-checkout .form-row textarea ,
.woocommerce form.woocommerce-checkout .form-row select {
    padding: 10px;
    margin: 0;
    width: 100%;
    line-height: 20px;
}

.select2-container .select2-choice,
.woocommerce form.woocommerce-checkout .form-row input.input-text, 
.woocommerce form.woocommerce-checkout .form-row select {
	max-height:42px;
}

.order-details.title,
.address .title {
	text-align:left;
	margin-bottom:30px;
}

p.return-to-shop,
p.cart-empty {
	text-align:center;
}

a.reset_variations {
	display:none;
}

.woocommerce #payment .terms, 
.woocommerce-page #payment .terms {
    text-align: left;
}

/* ===============================================
   Woocommerce Tabs
   ============================================= */

.woocommerce div.product form.cart .variations {
	width:100%;
	margin-bottom:0;
}

span.sku_wrapper {
	display:block;
}

.woocommerce div.product 
.woocommerce-tabs ul.tabs li a {
	padding:.8em 0;
}

.woocommerce div.product form.cart .variations td {
	display:block;
	text-align:left;
}

.woocommerce div.product form.cart .variations label {
    text-transform: uppercase;
}

.woocommerce div.product form.cart .variations select {
    height: 40px;
    line-height: 40px;
    background: #fff;
	border-color:#ddd;
	margin-bottom:15px;
}

.woocommerce div.product .woocommerce-product-rating {
    margin: 1.618em 0;
	border-top:solid 1px #ddd;
	border-bottom:solid 1px #ddd;
	padding:15px 0;
}

/* ===============================================
   Woocommerce My account page
   ============================================= */

.woocommerce-account .woocommerce-MyAccount-navigation {
    float: none;
    width: 100%;
	margin-bottom:25px;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul:before {
    position: absolute;
    content: " ";
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #d3ced2;
    z-index: 1;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li {
    border: 1px solid #d3ced2;
	float:left;
    position: relative;
    border-radius: 0;
    margin: 0 -1px 0 0;
	padding: 10px;
	background: #fff;
    z-index: 2;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li.is-active {
	color: #3498db;
    border-bottom-color: #fff;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li a:hover,
.woocommerce-account .woocommerce-MyAccount-navigation ul li.is-active a {
	color: #3498db;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li a {
	display: inline-block;
    font-weight: 700;
    color: #515151;
    text-decoration: none;
	cursor:pointer
}

.woocommerce-account .woocommerce-MyAccount-content {
    float: none;
    width: 100%;
}

.post-article .woocommerce-MyAccount-content header.title {
	text-align:left
}

.woocommerce .woocommerce-MyAccount-content .button {
    margin: 0;
}

.woocommerce table.my_account_orders .button {
    margin: 5px 0 -5px 0;
}

/* ===============================================
   Woocommerce comments
   ============================================= */

.star-rating span {
	color:#3498db;
}

.woocommerce #reviews #comments h2 {
	margin-bottom:45px;
	margin-top:15px;
}

.woocommerce #reviews #comments ol.commentlist li .comment-avatar {
	margin:0 auto;
	float:none;
	display:inline-block;
	width:16%;
	height:85px
}

.woocommerce .woocommerce-tabs .comment_container {
	outline: solid 1px #ddd;
    padding: 30px;
}

.woocommerce #reviews h3 {
    margin: 25px 0;
}

.woocommerce #review_form #respond p {
	text-align:center;
	margin:0
}

.woocommerce #reviews #comments ol.commentlist {
	padding:0;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text {
	margin:0;
	display:inline-block;
	border:none;
	border-left:solid 1px #ddd;
	width:78%;
	padding:0 2%;
	vertical-align:top
}

.woocommerce #reviews #comments ol.commentlist li img.avatar {
    float: none;
    position: relative;
    top: 0;
    left: 0;
    padding: 4px;
    width: 80px;
    height: 80px;
    background: none;
    border: none;
    margin: 0;
    box-shadow: none;
	outline:solid 1px #ddd;
	background:#fff;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text {
	-moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

#reviews h3#reply-title, 
#reviews h3.comments {
    padding:0;
    background: none;
    margin: 30px 0;
    text-align: center;
}

/* ===============================================
   Woocommerce orders
   ============================================= */

.woocommerce .order_details {
	padding:0;
}

.woocommerce tr:nth-child(2n+2) {
	background:#fff;
}

.woocommerce table.shop_table th,
.woocommerce table.shop_table td {
    padding: 12px 0;
}

.woocommerce table.shop_table.my_account_orders td, 
.woocommerce table.shop_table.my_account_orders th {
    padding: 5px 0;
}

.woocommerce table.shop_table.customer_details td, 
.woocommerce table.shop_table.customer_details th {
    padding: 0;
}

.woocommerce table thead td ,
.woocommerce table thead th {
	text-transform:uppercase;
}

.woocommerce table.shop_table,
.woocommerce table.shop_table.order_details ,
.woocommerce table.shop_table.customer_details {
	border:none;
	margin-bottom:0
}

/* ===============================================
   Woocommerce various
   ============================================= */

.cross-sells h2,
.upsells-products h2 ,
.related-products h2 {
	padding:40px;
	background:#fff;
	margin:40px 0;
}

.panel {
	-webkit-box-shadow: none;
    box-shadow: none;
}

.woocommerce div.product 
.woocommerce-tabs .panel {
	margin:30px 0 0 0;
}

.woocommerce-error ,
.woocommerce-message ,
.woocommerce-info {
	border:none;
	line-height:34px;
    background-color: #fff;
}

.woocommerce_cart_page .container-fluid .woocommerce-error ,
.woocommerce_cart_page .container-fluid .woocommerce-message ,
.woocommerce_cart_page .container-fluid .woocommerce-info {
	margin-left:15px !important;
	margin-right:15px !important;
}

.woocommerce-error:before, 
.woocommerce-info:before, 
.woocommerce-message:before {
	top: 50%;
    line-height: 0;
    padding: 0;
}

.woocommerce form.checkout .woocommerce-error {
	line-height:40px;
    background-color: #fff;
	margin:0 15px !important;
	border:solid 1px #b81c23;
}

.woocommerce .woocommerce-error li {
	color:#b81c23;
}

body.minimal-layout .woocommerce-error ,
body.minimal-layout .woocommerce-message ,
body.minimal-layout .woocommerce-info {
	border:solid 1px #ddd !important;
}

.woocommerce .woocommerce-error:before, 
.woocommerce .woocommerce-info:before, 
.woocommerce .woocommerce-message:before {
    top: 50%;
    line-height: 0;
}

.woocommerce .woocommerce-info {
	outline:solid 1px #ddd;
}

.woocommerce div.product form.cart, 
.woocommerce div.product p.cart {
    margin: 25px 0 !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
	padding: 0 0 0 5px;
	background:none;
	border:none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
	background:#fff;	
	padding:0 15px
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
	background:none;
	border:none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active ,
.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover{
    z-index: 2;
	color:#3498db;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
	-moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover{
	background:none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li:after, 
.woocommerce div.product .woocommerce-tabs ul.tabs li:before {
    border: none;
	visibility:hidden;
	display:none;
}

.woocommerce .woocommerce-ordering, 
.woocommerce .woocommerce-result-count {
    line-height: 50px;
}

/* ===============================================
   Woocommerce buttons
   ============================================= */

.woocommerce .quantity .qty {
	border:solid 1px #ddd;
	padding:8px 6px;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.alt,
.woocommerce a.button,
.woocommerce #respond input#submit, 
.woocommerce button.button, 
.woocommerce input.button,
.woocommerce .wc-proceed-to-checkout input {
	background-color:#3498db;
	border-bottom:4px solid #2980b9;
	padding:8px 20px 4px 20px;
	color:#fff;
	font-weight:bold;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin:0;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease; 
	-o-transition: all .3s ease;
	width:auto;
	text-align:center;
	position:relative;
	line-height: 1.6em;
}

.woocommerce div.product form.cart .button,
.summary .woocommerce a.button {
	margin:0;
}

.woocommerce .col-md-8.product-wrapper .product-container.col-md-3 a.button {
	padding:10px;
	font-size:12px;
}

.woocommerce .col-md-8.product-wrapper .product-container.col-md-3 h3.product-title {
	font-size:18px;
}

.woocommerce a.button,
#footer .woocommerce a.button {
	margin:30px 0 0 0;
}

.woocommerce .woocommerce-message a.button { 
	margin:auto;
}

.woocommerce #respond input#submit.alt:hover, 
.woocommerce a.button.alt:hover, 
.woocommerce button.button.alt:hover, 
.woocommerce input.button.alt:hover,
.woocommerce a.button:hover,
.woocommerce a.add_to_cart_button:hover,
.woocommerce .woocommerce-message a.button:hover ,
.woocommerce #respond input#submit:hover, 
.woocommerce a.button:hover, 
.woocommerce button.button:hover, 
.woocommerce input.button:hover,
.woocommerce .wc-proceed-to-checkout input:hover {
	background:#2980b9;
	border-bottom:4px solid #2980b9 !important;
	color:#fff;
	text-decoration:none;
	border-bottom:none;
}

.widget-box a.added_to_cart, 
.woocommerce a.added_to_cart, 
.woocommerce-page a.added_to_cart {
    display: none!important;
}


/* ===============================================
   Woocommerce cart and checkout
   ============================================= */
.cart_totals tr,
.shop_table tr:last-of-type {
    background-color: #fff !important;
}

.woocommerce-checkout #payment ul.payment_methods li img {
    margin: 10px 0 0 0 ;
    display: block;
}

.woocommerce-checkout #payment {
    margin-top: 15px;
}

.woocommerce #content table.cart td.actions .coupon, 
.woocommerce table.cart td.actions .coupon, 
.woocommerce-page #content table.cart td.actions .coupon, 
.woocommerce-page table.cart td.actions .coupon {
	float: none;
    padding: 0;
}

.woocommerce #content table.cart td.actions, 
.woocommerce table.cart td.actions, 
.woocommerce-page #content table.cart td.actions, 
.woocommerce-page table.cart td.actions {
	padding:20px 0 0 0;
}

.woocommerce .cart-collaterals .cart_totals, 
.woocommerce-page .cart-collaterals .cart_totals {
	width:100%;
	float:none;
	padding:30px;
	background:#fff;
}

.woocommerce-cart table.cart td.actions .coupon .input-text {
	border-color: #ddd;
    padding: 10px;
    margin: 0;
    width: 78%;
}

.woocommerce .cart .button, 
.woocommerce .cart input.button {
    float: right;
    width: 20%;
	padding:8px 20px 4px 20px;
	color:#fff;
	font-weight:bold;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin:0;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease; 
	-o-transition: all .3s ease;
	text-align:center;
	position:relative;
	line-height: 1.6em;
}

.woocommerce .woocommerce_cart_details {
	width:100%;
	float:none;
	padding:30px;
	background:#fff;
}

.woocommerce .woocommerce_cart_details h2,
.woocommerce .cart-collaterals .cart_totals h2, 
.woocommerce-page .cart-collaterals .cart_totals h2 {
	margin-top:0;
	text-align:center
}

.woocommerce .cart-collaterals .cart_totals table, 
.woocommerce-page .cart-collaterals .cart_totals table {
	-moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    border: none;
}

.woocommerce .cart-collaterals .cart_totals table tr, 
.woocommerce-page .cart-collaterals .cart_totals table tr {
	text-align:right;
}

.woocommerce .wc-proceed-to-checkout input ,
.woocommerce a.button.checkout-button.button.alt.wc-forward ,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
	width:100% !important;
	margin:0 0 5px 0;
}

.woocommerce .wc-proceed-to-checkout input ,
.woocommerce .wc-proceed-to-checkout input.update_cart {
	margin:0 0 5px 0;
}

/*
.woocommerce_cart_page.post-container {
	margin-bottom:0;
}
*/

.woocommerce_cart_page .post-article {
    background: none;
    padding: 0;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
	border-bottom:none;
}

.woocommerce-shipping-fields:after {
    content: '';
    display: block;
    clear: both;
}

/* ===============================================
   Woocommerce shop layout
   ============================================= */

body.archive.woocommerce .products-list h1.title {
	margin-bottom:45px;
}

body.archive.woocommerce .product-category h3 {
	margin:0;
	color:#616161;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	font-weight:normal
}

body.archive.woocommerce .product-category h3:hover,
body.archive.woocommerce .product-category h3:active,
body.archive.woocommerce .product-category h3:focus {
	color:#2980b9;
}

body.archive.woocommerce .product-category mark.count {
	padding:0;
	background:none;
}

.product-thumbnail {
	overflow:hidden;
	position:relative;
}

.product-thumbnail img {
	width:100%
}

.woocommerce div.product div.images .woocommerce-product-gallery__image {
    margin-top: 1em;
    margin-right: 3.8%;
}

.product-wrapper {
	margin-bottom:50px;
}

.product-container {
	margin-bottom:25px;
}

.masonry .post-container .product-container {
	margin-bottom:0;
}

.product-content {
	background: #fff;
    padding: 40px;
    word-wrap: break-word;
    position: relative;
}

.woocommerce .col-md-8.product-wrapper .product-container.col-md-4 .product-content ,
.woocommerce .col-md-8.product-wrapper .product-container.col-md-3 .product-content {
    padding: 30px 20px;
}

.post-article .woocommerce .product-content,
body.search .product-content,
.widget-box .product-content,
.upsells-products .product-content,
.related-products .product-content,
.products-list .product-content ,
.cross-sells .product-content ,
.products-list .product-content {
	text-align:center;
}

.products-list h1.title {
	margin-top:0;
}

h3.product-title ,
h4.product-title {
	color:#616161;
	text-align:center;
	margin-top:0;
	margin-bottom:30px;
}

.product-title a,
h1.product-title {
	color:#616161;
	margin:0;
}

.woocommerce .products .star-rating,
.product-content .star-rating,
.woocommerce .woocommerce-product-rating .star-rating {
    display: block;
    margin: .5em auto 0 auto;
    float: none;
	text-align:center;
}

.woocommerce .product-wrapper .woocommerce-product-rating .star-rating ,
.woocommerce #reviews #comments ol.commentlist li .star-rating {
    float: right;
}

.post-article .woocommerce .product-content .price,
body.search .product-content .price,
.widget-box .product-content .price,
.woocommerce_cart_page .product-content .price ,
.upsells-products .product-content .price ,
.related-products .product-content .price ,
.products-list .product-content .price {
    display: block;
    margin: 15px auto 0 auto !important;
    float: none;
	text-align:center;
	position:relative;
}

.product-content .price {
    display: block;
    margin: 15px 0 !important;
	text-align:left;
	position:relative;
}

.product-content .price del {
	font-size:11px;
	color:#ddd;
}

.widget-box .product-content .price del,
.upsells-products .product-content .price del,
.related-products .product-content .price del,
.products-list .product-content .price del {
	display:block;
}

.product-content .price ins {
	text-decoration:none;
}


.product-content span.onsale {
	display:none;
	visibility:hidden;
}

.widget-box .product-content span.onsale ,
.products-list .product-content span.onsale {
	width:50px;
	height:50px;
	line-height:42px;
	-moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
	text-align:center;
	padding:0;
	top: -25px;
    left: 50%;
    margin-left: -25px;
	display:block;
	visibility:visible;
	border:solid 4px #fff;
}

.woocommerce-ordering select.orderby {
    border: 1px solid #eee;
    padding: 8px;
    outline: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-family: inherit;
    font-size: inherit;
    color: #555;
    margin: 0;
    width: 300px;
    max-width: 100%;
    display: block;
    margin-bottom: 20px;
    background: #f9f9f9;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
}

/* ===============================================
   Woocommerce pagination
   ============================================= */

.woocommerce nav.woocommerce-pagination {
    margin-top: 25px;
}

.woocommerce nav.woocommerce-pagination ul,
.woocommerce nav.woocommerce-pagination ul li {
	border:none !important;
}

.woocommerce nav.woocommerce-pagination ul li {
	margin-left:2px;
	margin-right:2px;
	-webkit-box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.18);
	-moz-box-shadow:    inset 0px -1px 1px rgba(0, 0, 0, 0.18);
	box-shadow:         inset 0px -1px 1px rgba(0, 0, 0, 0.18);
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}

.woocommerce nav.woocommerce-pagination ul li a, 
.woocommerce nav.woocommerce-pagination ul li span {
	display:inline-block;
	padding:10px 12px;
	margin-bottom:0;
	line-height:21px;
	color:#333;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	background:#fff;
	-webkit-transition: all .3s ease; 	
	-moz-transition: all .3s ease; 
	-o-transition: all .3s ease
}

.woocommerce nav.woocommerce-pagination ul li a span, 
.wip-pagination a span  {
	background:#fff;
	color:#333;
}

.woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce nav.woocommerce-pagination ul li a:focus, 
.woocommerce nav.woocommerce-pagination ul li a:hover { 
	color:#fff;
	background:#2980b9;
	text-decoration:none;
	border-bottom:none;
}

/* ===============================================
   Woocommerce cart widget 
   ============================================= */

.widget_shopping_cart a.remove {
    background-color: #fff;
    border: solid 1px #ddd;
	-moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center !important;
    position: relative !important;
    float: left;
    margin-right: 15px;
    color: #ddd !important;
}

.widget_shopping_cart a.remove:hover {
    border-color: red;
    color: red !important;
	background:none;
}

.woocommerce .widget_shopping_cart .total, 
.woocommerce.widget_shopping_cart .total {
    border-top: none;
    padding: 4px 0 0;
	margin-top:25px;
	margin-bottom:0;
}

.woocommerce .widget_shopping_cart a.button {
	margin:25px auto -10px auto;
}

.widget_shopping_cart li,
.product_list_widget li  {
    padding: 20px 0 !important;
    position: relative;
    border-bottom: solid 1px #ddd;
	overflow:hidden
}

.woocommerce ul.product_list_widget li a,
.woocommerce-page ul.product_list_widget li a ,
.woocommerce-page ul.product_list_widget span.quantity ,
.header-cart ul.product_list_widget li a ,
.header-cart ul.product_list_widget span.quantity {
    display: block;
	text-align:right;
}

#footer .woocommerce ul.product_list_widget li a,
#footer .woocommerce ul.product_list_widget li span.reviewer,
#footer .woocommerce ul.product_list_widget li span.amount {
	text-align:right;
}

.woocommerce ul.product_list_widget li img {
    float: left;
    width: 65px;
    height: auto;
    margin: 0 15px 0 0;
    box-shadow: none;
}

/* ===============================================
   Woocommerce price filter widget
   ============================================= */

.woocommerce .widget_price_filter .price_slider_amount .button {
    float: right;
    margin-top: 8px;
}

.woocommerce .widget_price_filter .price_slider_amount .price_label{
    line-height: 36px;
    float: left;
    margin-top: 8px;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
	background-color:#3498db;
}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
	background-color:#ddd;
}

/* ===============================================
   Woocommerce products widget
   ============================================= */

.woocommerce ul.product_list_widget li del {
    float: right;
    color: #ddd;
	margin-left:5px;
}

.woocommerce ul.product_list_widget li ins ,
.woocommerce ul.product_list_widget li span.quantity ,
.woocommerce ul.product_list_widget li span.amount {
    float: right;
	margin-left:5px;
}

.woocommerce.widget-box.widget_top_rated_products ul.product_list_widget li ins ,
.woocommerce.widget-box.widget_top_rated_products ul.product_list_widget li span.amount,
.woocommerce.widget-box.widget_top_rated_products ul.product_list_widget li del {
    float: none;
	margin-left:5px;
}

/* ===============================================
   Woocommerce reviews widget 
   ============================================= */

.widget_recent_reviews,
.widget_top_rated_products {
	text-align:right;
}

.woocommerce ul.product_list_widget li .star-rating, 
.woocommerce-page ul.product_list_widget li .star-rating {
    float: right;
    clear: both;
	margin:-10px 0 0 0;
}

.woocommerce .widget_top_rated_products ul.product_list_widget li ins, 
.woocommerce .widget_top_rated_products ul.product_list_widget li del ,
.woocommerce .widget_top_rated_products ul.product_list_widget li span.amount {
    float: none;
}

/* ===============================================
   Woocommerce search widget 
   ============================================= */

.woocommerce-product-search label {
	display:none !important;
	visibility:hidden !important;
}