/*
Theme Name: Style Outlet
Theme URI: http://www.genexthemes.com/style-outlet/  
Author: V. Uma Rani
Author URI: http://www.genexthemes.com/
Description: Style Outlet is Powerful multipurpose e-commerce/WooCommerce WordPress Theme. Style Outlet  is the perfect free theme for e-commerce shop. Style Outlet is responsive mobile optimized and using skeleton framework. Stylesheet is generated using SASS and so stays DRY. Best suited for Corporate/Business/Blog sites. There is no theme options panel, instead uses Customizer, core feature of WordPress and comes with lots of options to customize. Has 4 Footer Widget Areas.
Version: 1.0.4
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: style-outlet
Tags: e-commerce, blog, custom-menu, custom-background, custom-header, custom-logo, featured-images, right-sidebar, sticky-post, threaded-comments, translation-ready, two-columns, one-column, footer-widgets, full-width-template, translation-ready, theme-options
Style Outlet WordPress Theme, Copyright (C) 2017, V. Uma Rani
Style Outlet is distributed under the terms of the GNU GPL

Style Outlet is based on Underscores http://underscores.me/, (C) 2012-2014 Automattic, Inc.

Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Reset
2.0 Grid
3.0 Typography
4.0 Elements
	4.1 Forms
5.0 Navigation
	5.1 Links
	5.2 Menus
6.0 Media
	6.1 Captions
	6.2 Galleries	
7.0 Modules
	7.1 Accessibility
	7.2 Alignments
	7.3 Clearings
	7.4 Infinite scroll
8.0 Header
9.0 Primary
10.0 Secondary
11.0 Footer
12.0 Responsiveness

--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

html {
  font-size: 62.5%;
  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
  overflow-y: scroll;
  /* Keeps page centered in all browsers regardless of content height */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
  box-sizing: border-box;
  /* Apply a natural box layout model to the document; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */ }

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit; }

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */
  overflow: hidden; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block; }

table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  font-weight: normal;
  text-align: left; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

a:focus {
  outline: thin dotted; }

a:hover,
a:active {
  outline: 0; }

a img {
  border: 0; }

/*--------------------------------------------------------------
2.0 Grid
--------------------------------------------------------------*/
.container {
  position: relative;
  width: 93%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0; }
  .container .one.column {
    width: 4.1%; }
  .container .two.columns {
    width: 10.4%; }
  .container .three.columns {
    width: 16.6%; }
  .container .four.columns {
    width: 22.9%; }
  .container .five.columns {
    width: 29.16%; }
  .container .six.columns {
    width: 35%; }
  .container .seven.columns {
    width: 41.6%; }
  .container .eight.columns {
    width: 47.9%; }
  .container .nine.columns {
    width: 54.16%; }
  .container .ten.columns {
    width: 60%; }
  .container .eleven.columns {
    width: 66.66%; }
  .container .twelve.columns {
    width: 72.9%; }
  .container .thirteen.columns {
    width: 79.16%; }
  .container .fourteen.columns {
    width: 85%; }
  .container .fifteen.columns {
    width: 91.66%; }
  .container .sixteen.columns {
    width: 97.9%; }
  .container .one-third.column {
    width: 31.25%; }
  .container .one-fourth.column {
    width: 23%; }
  .container .two-thirds.column {
    width: 64.5%; }
  .container .offset-by-one {
    padding-left: 6.25%; }
  .container .offset-by-two {
    padding-left: 12.5%; }
  .container .offset-by-three {
    padding-left: 18.75%; }
  .container .offset-by-four {
    padding-left: 25%; }
  .container .offset-by-five {
    padding-left: 31.25%; }
  .container .offset-by-six {
    padding-left: 37.5%; }
  .container .offset-by-seven {
    padding-left: 43.7%; }
  .container .offset-by-eight {
    padding-left: 50%; }
  .container .offset-by-nine {
    padding-left: 56.25%; }
  .container .offset-by-ten {
    padding-left: 62.5%; }
  .container .offset-by-eleven {
    padding-left: 68.75%; }
  .container .offset-by-twelve {
    padding-left: 75%; }
  .container .offset-by-thirteen {
    padding-left: 81.25%; }
  .container .offset-by-fourteen {
    padding-left: 87.5%; }
  .container .offset-by-fifteen {
    padding-left: 93.75%; }

.column, .columns {
  float: left;
  display: inline;
  margin-left: 1%;
  margin-right: 1%; }
  .column .alpha, .columns .alpha {
    margin-left: 0; }
  .column .omega, .columns .omega {
    margin-right: 0; }

.row {
  margin-bottom: 2%; }

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container {
    width: 93%; }
    .container .column, .container .columns {
      margin-left: 1.3%;
      margin-right: 1.3%; }
      .container .column .alpha, .container .columns .alpha {
        margin-left: 0;
        margin-right: 1.3%; }
      .container .column .omega, .container .columns .omega {
        margin-left: 1.3%;
        margin-right: 0%; }
    .container .one.column {
      width: 3.64%; }
    .container .two.columns {
      width: 9.89%; }
    .container .three.columns {
      width: 16.1%; }
    .container .four.columns {
      width: 22.39%; }
    .container .five.columns {
      width: 28.64%; }
    .container .six.columns {
      width: 34.89%; }
    .container .seven.columns {
      width: 41.14%; }
    .container .eight.columns {
      width: 47.39%; }
    .container .nine.columns {
      width: 53.64%; }
    .container .ten.columns {
      width: 59.89%; }
    .container .eleven.columns {
      width: 66.14%; }
    .container .twelve.columns {
      width: 72.39%; }
    .container .thirteen.columns {
      width: 78.64%; }
    .container .fourteen.columns {
      width: 84.89%; }
    .container .fifteen.columns {
      width: 91.14%; }
    .container .sixteen.columns {
      width: 97.39%; }
    .container .one-third.column {
      width: 30.72%; }
    .container .one-fourth.column {
      width: 20.72%; }
    .container .two-thirds.column {
      width: 64%; }
    .container .offset-by-one {
      padding-left: 6.25%; }
    .container .offset-by-two {
      padding-left: 12.5%; }
    .container .offset-by-three {
      padding-left: 18.75%; }
    .container .offset-by-four {
      padding-left: 25%; }
    .container .offset-by-five {
      padding-left: 31.25%; }
    .container .offset-by-six {
      padding-left: 37.5%; }
    .container .offset-by-seven {
      padding-left: 43.75%; }
    .container .offset-by-eight {
      padding-left: 45%; }
    .container .offset-by-nine {
      padding-left: 56.25%; }
    .container .offset-by-ten {
      padding-left: 62.5%; }
    .container .offset-by-eleven {
      padding-left: 68.75%; }
    .container .offset-by-twelve {
      padding-left: 75%; }
    .container .offset-by-thirteen {
      padding-left: 81.25%; }
    .container .offset-by-fourteen {
      padding-left: 87.5%; }
    .container .offset-by-fifteen {
      padding-left: 93.75%; } }

@media only screen and (max-width: 767px) {
  .container {
    width: 93%; }
    .container .one.column,
    .container .two.columns,
    .container .three.columns,
    .container .four.columns,
    .container .five.columns,
    .container .six.columns,
    .container .seven.columns,
    .container .eight.columns,
    .container .nine.columns,
    .container .ten.columns,
    .container .eleven.columns,
    .container .twelve.columns,
    .container .thirteen.columns,
    .container .fourteen.columns,
    .container .fifteen.columns,
    .container .sixteen.columns,
    .container .one-third.column,
    .container .one-fourth.column,
    .container .two-thirds.column {
      width: 100%; }
    .container .offset-by-one,
    .container .offset-by-two,
    .container .offset-by-three,
    .container .offset-by-four,
    .container .offset-by-five,
    .container .offset-by-six,
    .container .offset-by-seven,
    .container .offset-by-eight,
    .container .offset-by-nine,
    .container .offset-by-ten,
    .container .offset-by-eleven,
    .container .offset-by-twelve,
    .container .offset-by-thirteen,
    .container .offset-by-fourteen,
    .container .offset-by-fifteen {
      padding-left: 0; }
  .columns, .column {
    margin: 0; } }

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 93%; }
    .container .one.column,
    .container .two.columns,
    .container .three.columns,
    .container .four.columns,
    .container .five.columns,
    .container .six.columns,
    .container .seven.columns,
    .container .eight.columns,
    .container .nine.columns,
    .container .ten.columns,
    .container .eleven.columns,
    .container .twelve.columns,
    .container .thirteen.columns,
    .container .fourteen.columns,
    .container .fifteen.columns,
    .container .sixteen.columns,
    .container .one-third.column,
    .container .one-fourth.column,
    .container .two-thirds.column {
      width: 100%; }
  .columns, .column {
    margin: 0; } }

/* #Clearing
================================================== */
/* Self Clearing Goodness */
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after,
.panel-row-style-full-width-layout:before,
.panel-row-style-full-width-layout:after,
.panel-row-style-cta:before,
.panel-row-style-cta:after,
.panel-row-style-cta:before,
.panel-row-style-section-pattern2:after,
.panel-row-style-section-pattern2:before,
.panel-row-style-wide-grey:before,
.panel-row-style-wide-grey:after,
.panel-row-style-wide-dark-grey:before,
.panel-row-style-wide-dark-grey:after,
.panel-row-style-section-pattern:before,
.panel-row-style-section-pattern:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.row:after,
.clearfix:after,
.panel-row-style-full-width-layout:before,
.panel-row-style-full-width-layout:after,
.panel-row-style-wide-grey:after,
.panel-row-style-wide-grey:before,
.panel-row-style-wide-dark-grey:after,
.panel-row-style-wide-dark-grey:before,
.panel-row-style-section-pattern2:after,
.panel-row-style-section-pattern2:before,
.panel-row-style-section-pattern:before,
.panel-row-style-section-pattern:after {
  clear: both; }

.row,
.clearfix {
  zoom: 1; }

/* You can also use a <br class="clear" /> to clear columns */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

/* ==|== primary styles =====================================================
   Author: Lucas - Skeleton Based Media Queries
   ========================================================================== */
/* Smaller than standard 960 (devices and browsers) */
/* Tablet Portrait size to standard 960 (devices and browsers) */
/* All Mobile Sizes (devices and browser) */
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
/*--------------------------------------------------------------
3.0 Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #6b6b6b;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.7; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", serif;
  color: #222222;
  clear: both;
  font-weight: 700;
  margin-bottom: 15px; }

h1 {
  font-size: 48px;
  font-size: 4.8rem; }

h2 {
  font-size: 36px;
  font-size: 3.6rem; }

h3 {
  font-size: 30px;
  font-size: 3rem; }

h4 {
  font-size: 24px;
  font-size: 2.4rem; }

h5 {
  font-size: 18px;
  font-size: 1.8rem; }

h6 {
  font-size: 16px;
  font-size: 1.6rem; }

p {
  margin-bottom: 1.5em; }

b, strong {
  font-weight: bold; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #f8f8f8;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1.7;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
  border-left: 6px solid #dfdfdf;
  border-radius: 5px; }

code, kbd, tt, var {
  font-size: 15px;
  font-size: 1.5rem;
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace; }

abbr, acronym {
  border-bottom: 1px dotted #222222;
  cursor: help; }

mark, ins {
  background: #d7d7d7;
  text-decoration: none; }

sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  bottom: 1ex; }

sub {
  top: .5ex; }

small {
  font-size: 75%; }

big {
  font-size: 125%; }

/*--------------------------------------------------------------
4.0 Elements
--------------------------------------------------------------*/
hr {
  background-color: #dad9d9;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

ul, ol {
  margin: 0 0 1.5em 3em; }

ul {
  list-style: disc; }
  ul li {
    padding: 5px 5px; }
    ul li ul {
      margin-top: 5px; }
      ul li ul li {
        padding: 5px 5px; }

ol {
  list-style: decimal; }
  ol li {
    padding: 5px 5px; }
    ol li ol {
      margin-top: 5px; }
      ol li ol li {
        padding: 5px 5px; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em;
  margin-top: 10px; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

figure {
  margin: 0; }

table {
  margin: 0 0 1.5em;
  width: 100%; }
  table th {
    font-family: "Roboto Slab", serif; }
    table th a {
      font-weight: 700;
      display: block;
      text-align: center; }
  table td, table th {
    padding: 15px 20px; }
  table thead tr th {
    text-transform: uppercase;
    border-top: 1px solid rgba(107, 107, 107, 0.6);
    border-bottom: 1px solid rgba(107, 107, 107, 0.6); }
    table thead tr th:first-child {
      display: block;
      text-align: center; }
  table tbody td {
    color: #6b6b6b; }
  table tbody th, table tbody td {
    border-bottom: 1px solid rgba(107, 107, 107, 0.6); }

button,
input,
textarea {
  font-size: 100%;
  /* Corrects font size not being inherited in all browsers */
  margin: 0;
  /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline;
  /* Improves appearance and consistency in all browsers */ }

select {
  background: #fff url("images/down.png") no-repeat 95% 50%;
  border: 1px solid #dad9d9;
  padding: 5px 10% 5px 3%;
  -moz-appearance: none;
  -webkit-appearance: none; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: none;
  background: #605790;
  text-transform: uppercase;
  cursor: pointer;
  /* Improves usability and consistency of cursor style between image-type 'input' and others */
  -webkit-appearance: button;
  /* Corrects inability to style clickable 'input' types in iOS */
  line-height: 1;
  padding: 1em 1.5em;
  color: #fff;
  font-weight: 700;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #222222;
  background-color: #222222;
  position: relative;
  color: #fff; }

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  border-color: #222222;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15); }

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  /* Addresses excess padding in IE8/9 */ }

input[type="search"] {
  -webkit-appearance: textfield;
  /* Addresses appearance set to searchfield in S5, Chrome */
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  color: #000;
  border-width: 1px;
  border-style: solid;
  border-color: #dad9d9; }

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  color: #000;
  border-color: #605790; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 6px 15px;
  width: 96%; }

textarea {
  overflow: auto;
  /* Removes default vertical scrollbar in IE6/7/8/9 */
  padding: 10px;
  vertical-align: top;
  /* Improves readability and alignment in all browsers */
  width: 100%; }

ul, ol {
  margin: 0 0 1.5em 3em; }

ul {
  list-style: disc; }
  ul li {
    padding: 5px 5px; }
    ul li ul {
      margin-top: 5px; }
      ul li ul li {
        padding: 5px 5px; }

ol {
  list-style: decimal; }
  ol li {
    padding: 5px 5px; }
    ol li ol {
      margin-top: 5px; }
      ol li ol li {
        padding: 5px 5px; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em;
  margin-top: 10px; }

/*--------------------------------------------------------------
5.0 Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
5.1 Links
--------------------------------------------------------------*/
a {
  color: #605790;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  a:visited {
    color: #605790; }
  a:hover, a:focus, a:active {
    color: #222222;
    outline: none;
    outline-offset: 0; }

/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/
.main-navigation {
  display: block;
  position: relative;
  float: right;
  font-family: "Open Sans", sans-serif; }
  .main-navigation ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    margin-top: 0; }
    .main-navigation ul li {
      padding: 0px; }
    .main-navigation ul ul.sub-menu, .main-navigation ul ul.children {
      box-shadow: none;
      float: left;
      text-align: left;
      position: absolute;
      top: auto;
      left: -999em;
      z-index: 99999;
      border: 1px solid #d9d9d9;
      margin: 0; }
      .main-navigation ul ul.sub-menu ul, .main-navigation ul ul.children ul {
        left: -999em;
        top: 5px;
        margin-top: 0;
        border: 1px solid #d9d9d9; }
      .main-navigation ul ul.sub-menu li, .main-navigation ul ul.children li {
        background-color: #fff;
        margin: 0;
        height: auto;
        float: left;
        position: relative; }
        .main-navigation ul ul.sub-menu li:last-child a, .main-navigation ul ul.children li:last-child a {
          border: 0; }
        .main-navigation ul ul.sub-menu li:hover > ul, .main-navigation ul ul.children li:hover > ul {
          left: 100%; }
        .main-navigation ul ul.sub-menu li:hover > a, .main-navigation ul ul.children li:hover > a {
          border-bottom-color: #605790; }
      .main-navigation ul ul.sub-menu li a, .main-navigation ul ul.children li a {
        min-width: 230px;
        border-bottom: 1px solid #d9d9d9;
        height: auto;
        color: #222222;
        padding: 12px 20px;
        text-transform: none;
        font-weight: 400; }
        .main-navigation ul ul.sub-menu li a:after, .main-navigation ul ul.children li a:after {
          display: none; }
      .main-navigation ul ul.sub-menu li :hover > a, .main-navigation ul ul.children li :hover > a {
        color: #605790; }
    .main-navigation ul li:hover > ul {
      left: auto; }
  .main-navigation li {
    float: left;
    position: relative; }
    .main-navigation li:hover ul {
      margin-top: 0; }
  .main-navigation a {
    display: block;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 8px 55px 8px 0px;
    position: relative;
    font-weight: 600;
    font-size: 13px; }
  .main-navigation li.menu-item-has-children a, .main-navigation li.page_item_has_children a {
    display: block;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 8px 55px 8px 0px;
    position: relative;
    font-weight: 600;
    font-size: 13px; }
    .main-navigation li.menu-item-has-children a:after, .main-navigation li.page_item_has_children a:after {
      position: absolute;
      content: '\f0d7';
      font-family: "FontAwesome";
      top: 8px;
      color: #a8a8a8;
      padding-left: 8px; }
  .main-navigation .children {
    border: 12px solid rgba(255, 255, 255, 0.8); }
    .main-navigation .children .current_page_item > a,
    .main-navigation .children .current-menu-item > a,
    .main-navigation .children .current_page_ancestor > a {
      color: #222222;
      background-image: none; }
  .main-navigation li li a {
    margin-right: 0; }
    .main-navigation li li a:after {
      display: none; }
  .main-navigation a:hover,
  .main-navigation .current-menu-parent > a,
  .main-navigation .current_page_ancestor > a,
  .main-navigation .current_page_parent > a {
    color: #fff; }

/* Small menu */
.menu-toggle {
  display: none; }

@media screen and (max-width: 600px) {
  .menu-toggle,
  .main-navigation.toggled ul.nav-menu {
    display: block;
    margin: auto; }
    .menu-toggle li,
    .main-navigation.toggled ul.nav-menu li {
      border-bottom: 1px solid #f8f8f8;
      float: none; }
    .menu-toggle ul,
    .main-navigation.toggled ul.nav-menu ul {
      padding-left: 10%;
      position: static;
      text-align: none;
      float: none;
      border: none; }
      .menu-toggle ul li,
      .main-navigation.toggled ul.nav-menu ul li {
        background-color: transparent; }
        .menu-toggle ul li a,
        .main-navigation.toggled ul.nav-menu ul li a {
          color: #fff; }
          .menu-toggle ul li a:hover,
          .main-navigation.toggled ul.nav-menu ul li a:hover {
            color: #605790; }
  .main-navigation ul.nav-menu {
    display: none; } }

.comment-navigation,
.paging-navigation,
.post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden; }

.comment-navigation {
  margin-bottom: 2.5em; }

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 48%;
  margin: 1%; }

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 47%;
  margin: 1%; }

.post-navigation span {
  display: none; }

.navigation a,
.comment-navigation a {
  color: #fff;
  background-color: #222222;
  padding-top: 12px;
  padding-bottom: 12px;
  display: block; }
  .navigation a:hover,
  .comment-navigation a:hover {
    background-color: #605790;
    color: #fff; }

.comment-navigation {
  position: relative; }
  .comment-navigation .nav-previous a {
    padding-left: 50px;
    position: relative;
    font-weight: 700; }
  .comment-navigation .nav-previous:hover a {
    background: #4d4d4d;
    color: #fff; }
    .comment-navigation .nav-previous:hover a .meta-nav {
      color: #fff; }
  .comment-navigation .nav-next a {
    padding-right: 50px;
    position: relative;
    font-weight: 700; }
  .comment-navigation .nav-next:hover a {
    background: #4d4d4d;
    color: #fff; }
    .comment-navigation .nav-next:hover a .meta-nav {
      color: #fff; }

.nav-links,
.more-link, .comment-navigation {
  position: relative; }
  .nav-links a,
  .more-link a, .comment-navigation a {
    position: relative;
    font-family: "Roboto Slab", serif; }
  .nav-links .meta-nav,
  .more-link .meta-nav, .comment-navigation .meta-nav {
    width: 40px;
    height: 100%;
    background-color: #605790;
    display: inline-block;
    color: #fff;
    text-align: center;
    position: absolute;
    line-height: 50px;
    top: 0; }
    .nav-links .meta-nav i,
    .more-link .meta-nav i, .comment-navigation .meta-nav i {
      font-size: 20px;
      font-weight: 700; }
  .nav-links .nav-previous a,
  .more-link .nav-previous a, .comment-navigation .nav-previous a {
    padding-left: 50px;
    padding-right: 20px;
    display: inline-block; }
  .nav-links .nav-previous .meta-nav,
  .more-link .nav-previous .meta-nav, .comment-navigation .nav-previous .meta-nav {
    left: 0; }
  .nav-links .nav-previous:hover a,
  .more-link .nav-previous:hover a, .comment-navigation .nav-previous:hover a {
    background: #605790;
    color: #fff; }
    .nav-links .nav-previous:hover a .meta-nav,
    .more-link .nav-previous:hover a .meta-nav, .comment-navigation .nav-previous:hover a .meta-nav {
      color: #fff;
      background: #222222; }
  .nav-links .nav-next a,
  .more-link .nav-next a, .comment-navigation .nav-next a {
    padding-left: 20px;
    padding-right: 50px;
    display: inline-block; }
  .nav-links .nav-next .meta-nav,
  .more-link .nav-next .meta-nav, .comment-navigation .nav-next .meta-nav {
    right: 0; }
  .nav-links .nav-next:hover a,
  .more-link .nav-next:hover a, .comment-navigation .nav-next:hover a {
    background: #605790;
    color: #fff; }
    .nav-links .nav-next:hover a .meta-nav,
    .more-link .nav-next:hover a .meta-nav, .comment-navigation .nav-next:hover a .meta-nav {
      color: #fff;
      background: #222222; }

a.more-link {
  padding: 8px 15px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  background: #605790;
  text-transform: uppercase; }
  a.more-link:hover {
    background-color: #222222;
    color: #fff; }

.nav-links a:hover .meta-nav {
  background-color: transparent;
  color: #4d4d4d; }

.page-navigation {
  margin-top: 60px;
  text-align: center; }

.menu.nav-menu::after, .menu.nav-menu::before {
  clear: both;
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0; }

.navigation.pagination {
  margin: 0;
  list-style-type: none;
  position: relative;
  text-align: left; }
  .navigation.pagination .page-numbers {
    display: inline-block;
    margin-right: 10px;
    color: #fff;
    padding: 8px 15px;
    background: #605790; }
    .navigation.pagination .page-numbers a {
      display: inline-block;
      text-align: center;
      font-size: 14px;
      font-size: 1.4rem;
      color: #fff; }
    .navigation.pagination .page-numbers:hover {
      background: #222222; }
  .navigation.pagination .page-numbers.current {
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-size: 1.4rem;
    padding: 8px 15px;
    background: #222222; }
  .navigation.pagination .prev.page-numbers, .navigation.pagination .next.page-numbers {
    padding: 8px 15px; }

.sub-menu .current_page_item::before, .sub-menu .current-menu-item::before, .sub-menu .current_page_ancestor::before, .sub-menu .current-menu-parent::before, .children .current_page_item::before, .children .current-menu-item::before, .children .current_page_ancestor::before, .children .current-menu-parent::before {
  top: 0; }

.branding .nav-wrap .container {
  padding-bottom: 10px; }

/*--------------------------------------------------------------
6.0 Media
--------------------------------------------------------------*/
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
  max-width: 100%; }

/*--------------------------------------------------------------
6.1 Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }
  .wp-caption img[class*="wp-image-"] {
    display: block;
    margin: 0 auto; }
  .wp-caption .wp-caption-text {
    margin: 0.8075em 0; }

.wp-caption-text {
  text-align: center; }

/*--------------------------------------------------------------
6.2 Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }

.gallery-columns-2 .gallery-item {
  max-width: 50%; }

.gallery-columns-3 .gallery-item {
  max-width: 33.33%; }

.gallery-columns-4 .gallery-item {
  max-width: 25%; }

.gallery-columns-5 .gallery-item {
  max-width: 20%; }

.gallery-columns-6 .gallery-item {
  max-width: 16.66%; }

.gallery-columns-7 .gallery-item {
  max-width: 14.28%; }

.gallery-columns-8 .gallery-item {
  max-width: 12.5%; }

.gallery-columns-9 .gallery-item {
  max-width: 11.11%; }

.gallery-caption {
  display: block; }

/*--------------------------------------------------------------
7.0 Modules
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }
  .screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {
    background-color: #fff;
    clip: auto !important;
    color: #000;
    display: block;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar */ }

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  display: block;
  margin: 0 auto; }

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table; }

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both; }

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
  display: block; }

/*--------------------------------------------------------------
8.0 Header
--------------------------------------------------------------*/
.branding {
  background-color: #222222; }
  .branding .site-branding {
    text-align: left;
    position: relative;
    margin-top: 20px; }
    .branding .site-branding h1.site-title {
      font-size: 38px; }
      .branding .site-branding h1.site-title a {
        color: #fff;
        text-transform: uppercase; }
    .branding .site-branding .site-description {
      font-size: 14px;
      font-size: 1.4rem;
      color: #6b6b6b;
      font-family: "Open Sans", sans-serif;
      padding: 0px 10px 10px 0px;
      position: relative;
      margin-bottom: 0;
      margin-top: -12px; }
    .branding .site-branding .site-title {
      margin-bottom: 0; }

.sticky-nav {
  position: fixed;
  top: -2px;
  left: 0;
  width: 100%;
  z-index: 1000; }

.admin-bar .nav-wrap.sticky-nav {
  top: 30px; }

.no-sidebar {
  float: none;
  margin: 0 auto;
  display: block; }

.branding .container {
  padding-bottom: 30px; }

.branding .header-search-box .search-form {
  margin-top: 35px;
  position: relative; }
  .branding .header-search-box .search-form .search-submit {
    position: absolute;
    content: "";
    top: 0px;
    height: 100%;
    right: -8px;
    border-radius: 2px;
    text-indent: -999em;
    background: #605790 url("images/icon-search-white.png") no-repeat scroll 60% 50%; }
    .branding .header-search-box .search-form .search-submit:hover {
      background: #fff url("images/icon-search-black.png") no-repeat scroll 60% 50%; }
  .branding .header-search-box .search-form input[type="search"] {
    padding: 9px;
    border-radius: 4px; }

.branding .cart-item {
  margin-top: 35px;
  float: right;
  background-color: #605790;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: 700; }
  .branding .cart-item i {
    color: #fff;
    font-size: 20px;
    padding-right: 5px; }
  .branding .cart-item a {
    color: #fff; }
  .branding .cart-item:hover {
    background: #222222; }

/* Breadcrumb */
.breadcrumb {
  background: #dad9d9;
  position: relative;
  padding: 5px 0px;
  margin-top: 0; }
  .breadcrumb a {
    color: #222222; }
    .breadcrumb a:hover {
      color: #605790; }
  .breadcrumb .breadcrumb-left h4 {
    font-size: 25px;
    font-size: 2.5rem;
    text-transform: capitalize;
    color: #222222;
    margin-bottom: 0;
    font-weight: 600; }
  .breadcrumb .breadcrumb-right {
    text-align: right;
    color: #222222;
    float: right;
    margin-top: 8px;
    font-size: 16px;
    font-size: 1.6rem; }
    .breadcrumb .breadcrumb-right #crumbs span {
      padding: 0px 4px; }

.top-nav {
  background: #3f3f3f;
  margin-bottom: 0px;
  font-size: 13px; }
  .top-nav .eight {
    padding: 2px 0px; }
  .top-nav .cart-left {
    color: rgba(255, 255, 255, 0.8); }
    .top-nav .cart-left .textwidget i {
      padding-right: 5px; }
  .top-nav ul {
    margin: 0; }
    .top-nav ul li {
      float: left;
      list-style: none;
      border-bottom: none !important;
      margin-right: 20px; }
      .top-nav ul li:hover a {
        color: #605790; }
      .top-nav ul li a {
        color: #fff;
        padding: 4px 2px 4px 0px;
        border-radius: 5px;
        display: inline; }
        .top-nav ul li a:hover {
          color: rgba(255, 255, 255, 0.6); }
      .top-nav ul li i {
        font-size: 13px;
        font-size: 1.3rem;
        padding-right: 5px;
        display: inline-block; }
  .top-nav .cart-right {
    color: rgba(255, 255, 255, 0.8); }
    .top-nav .cart-right ul {
      float: right; }
      .top-nav .cart-right ul li {
        margin-right: 0;
        position: relative;
        padding-right: 30px; }
        .top-nav .cart-right ul li:after {
          position: absolute;
          content: "|";
          top: 4px;
          padding: 0px 15px;
          color: rgba(255, 255, 255, 0.4); }
        .top-nav .cart-right ul li:last-child {
          padding-right: 0px; }
          .top-nav .cart-right ul li:last-child:after {
            display: none; }

/*--------------------------------------------------------------
9.0 Primary
--------------------------------------------------------------*/
.site-content {
  padding-top: 50px;
  margin-bottom: 100px; }

.site-main {
  margin: 1.5em 0; }
  .site-main article.post {
    padding: 20px 0; }

.single .site-main article.post {
  padding-top: 0; }

.share-box .widget-title {
  margin-bottom: 50px;
  color: #222222; }

.share-box ul {
  margin: 0; }
  .share-box ul li {
    border: 0;
    padding: 0;
    margin: 0 8px 0px 0px;
    display: inline-block; }
    .share-box ul li a {
      width: 30px;
      height: 30px;
      color: #222222;
      display: inline-block;
      background-color: #222222;
      text-align: center;
      line-height: 30px;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      color: #fff; }
      .share-box ul li a:hover {
        color: #fff;
        background-color: #605790; }
      .share-box ul li a i {
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
        font-size: 14px;
        font-size: 1.4rem;
        line-height: 2; }

.share-box {
  margin-bottom: 50px; }
  .share-box h4 {
    margin-bottom: 15px; }

.comment-content a {
  word-wrap: break-word; }

.comment-navigation {
  clear: both; }

.comment-content p {
  margin-top: 15px; }

.bypostauthor {
  display: block; }

h2.comments-title {
  margin-bottom: 30px;
  padding-bottom: 10px;
  line-height: normal; }

ol.comment-list {
  margin: 0;
  list-style-type: none; }

ol.comment-list ol.children {
  list-style-type: none;
  margin-left: 10%; }

ol.comment-list > li {
  margin-bottom: 20px; }

.comment-body {
  position: relative; }

ol.comment-list .reply {
  text-align: left;
  font-size: 14px;
  font-size: 1.4rem;
  position: absolute;
  left: -100px;
  top: 100px; }
  ol.comment-list .reply:hover a, ol.comment-list .reply:hover:before {
    color: #222222; }
  ol.comment-list .reply:before {
    position: relative;
    right: 7px;
    content: "\f112";
    font-family: "FontAwesome";
    color: #605790;
    font-size: 15px;
    font-size: 1.5rem; }

.byuser .reply a:hover {
  color: #fff; }

.comment-author {
  display: inline;
  text-transform: uppercase;
  color: #222222; }
  .comment-author img {
    position: absolute;
    left: 0; }
  .comment-author .fn {
    font-style: normal; }
    .comment-author .fn a {
      color: #605790; }
      .comment-author .fn a:hover {
        color: #222222; }

ol.comment-list article {
  margin-bottom: 50px;
  width: calc(100% - 140px);
  float: right;
  position: relative;
  z-index: 1;
  min-height: 120px; }
  ol.comment-list article .fn {
    color: #605790;
    cursor: pointer; }
    ol.comment-list article .fn:hover {
      color: #222222; }

ol.comment-list article .comment-author img {
  top: -5px;
  left: -120px;
  width: 80px;
  height: 80px; }

ol.comment-list li.byuser .comment-metadata a:hover {
  color: #222222; }

.comment-metadata {
  font-size: 13px;
  font-size: 1.3rem;
  margin-top: 5px;
  margin-bottom: 20px; }
  .comment-metadata a {
    color: #6b6b6b; }
    .comment-metadata a:hover {
      color: #605790; }

.byuser .comment-metadata a:hover,
.byuser .comment-content a:hover {
  color: #fff; }

ol.comment-list li {
  clear: both; }
  ol.comment-list li .comment-body {
    border-bottom: 1px solid #dad9d9; }
  ol.comment-list li ol {
    clear: both; }
    ol.comment-list li ol li {
      clear: both; }

.comment-form input[type="text"], .comment-form input[type="email"] {
  margin-top: 20px;
  padding: 5px 5px;
  margin-bottom: 20px;
  margin-top: 0px; }

.comment-form input[type="email"] {
  margin-right: 8px !important;
  margin-left: 8px !important; }

.comment-form .form-submit {
  float: left;
  margin-top: 15px; }
  .comment-form .form-submit input[type="submit"] {
    background: #605790 !important;
    text-transform: capitalize;
    padding: 8px 15px !important; }

.comment-form input#submit:hover {
  background: #222222 !important; }

.comment-form .comment-form-email, .comment-form .comment-form-author {
  color: #605790;
  width: 50%;
  float: left; }
  .comment-form .comment-form-email .required, .comment-form .comment-form-author .required {
    color: red; }

.comment-form .comment-form-comment {
  color: #605790;
  margin-bottom: 20px !important; }
  .comment-form .comment-form-comment .required {
    color: red; }

.comment-form .comment-form-email > label {
  margin-left: 8px; }

.comment-form textarea, .comment-form input[type="text"], .comment-form input[type="email"] {
  background: rgba(96, 87, 144, 0.045);
  border: 0; }

.hentry.sticky {
  color: #fff;
  padding: 25px !important;
  padding-bottom: 50px !important;
  position: relative;
  margin-bottom: 70px !important;
  background: #605790; }
  .hentry.sticky:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -40px;
    height: 3px;
    width: 100%;
    border-bottom: 1px solid #dad9d9; }
  .hentry.sticky h2.entry-title a {
    color: #fff; }
    .hentry.sticky h2.entry-title a:hover {
      color: #fff; }
  .hentry.sticky .entry-content ul li {
    list-style: square; }
  .hentry.sticky .entry-content p, .hentry.sticky .entry-content a {
    color: #fff; }
  .hentry.sticky a {
    color: #6b6b6b; }
    .hentry.sticky a:hover {
      color: #4d4d4d; }
  .hentry.sticky span i {
    color: #6b6b6b; }
  .hentry.sticky span:hover i, .hentry.sticky span:hover a {
    color: #222222; }
  .hentry.sticky code {
    color: #000; }
  .hentry.sticky .entry-footer span {
    background-color: #605790;
    color: #fff; }
    .hentry.sticky .entry-footer span i, .hentry.sticky .entry-footer span a {
      color: #fff; }
  .hentry.sticky .entry-meta {
    margin-bottom: 0;
    border: 0; }
    .hentry.sticky .entry-meta a, .hentry.sticky .entry-meta i {
      color: #fff; }
      .hentry.sticky .entry-meta a:hover, .hentry.sticky .entry-meta i:hover {
        color: #222222; }
    .hentry.sticky .entry-meta .dd {
      color: #fff; }

.hentry.post {
  margin: 0 0 1em;
  border-bottom: 1px solid #dad9d9; }
  .hentry.post h1 a {
    color: #000; }
    .hentry.post h1 a:hover {
      color: #605790; }

.single .byline,
.group-blog .byline {
  display: inline; }

.home .entry-meta span {
  font-size: 14px; }

.sticky .entry-meta,
.sticky .entry-footer {
  background: none;
  padding: 0; }

.entry-header .entry-title a {
  color: #222222; }
  .entry-header .entry-title a:hover {
    color: #605790; }

.entry-meta .dd {
  display: inline-block;
  text-align: center;
  color: #605790; }

.entry-meta {
  margin: 5px 0px 25px 0px;
  position: relative; }

.entry-meta span {
  margin: 0 20px;
  color: #605790; }
  .entry-meta span i {
    color: #605790;
    padding-right: 8px; }
  .entry-meta span a {
    color: #605790; }
  .entry-meta span:hover i {
    color: #222222; }
  .entry-meta span:hover a {
    color: #222222; }
  .entry-meta span:after {
    position: absolute;
    content: "|";
    top: 0px;
    color: #605790;
    padding: 0px 20px; }
  .entry-meta span:first-child {
    margin-left: 0px; }
  .entry-meta span:last-child:after {
    display: none; }

.entry-content p {
  color: #222222; }

.page-content,
.entry-content,
.entry-summary {
  margin: 0.5em 0 0; }

.page-links {
  margin: 0 0 1.5em;
  padding: 12px;
  text-align: center;
  color: #fff;
  background-color: #605790;
  display: inline-block; }
  .page-links a {
    padding: 5px 10px;
    color: #222222; }
    .page-links a:hover {
      color: #dad9d9; }

blockquote {
  position: relative;
  margin: 0;
  display: inline-block;
  font-size: 20px;
  font-size: 2rem;
  font-family: "Roboto Slab", serif;
  padding: 0 10px 1% 40px;
  border-radius: 3px;
  margin-bottom: 20px; }
  blockquote:before {
    position: absolute;
    content: "\f10d";
    font-size: 25px;
    font-size: 2.5rem;
    font-family: 'FontAwesome';
    left: 20px;
    top: 0;
    color: #6b6b6b; }
  blockquote p {
    margin-bottom: 0;
    font-size: 20px;
    font-size: 2rem;
    padding: 5px 20px;
    color: #6b6b6b;
    position: relative;
    font-weight: 700; }
    blockquote p cite {
      font-style: normal;
      text-transform: uppercase; }
    blockquote p a:hover {
      color: #6b6b6b; }

.related-posts {
  padding: 20px 0; }
  .related-posts ul#style_outlet_related_posts {
    list-style-type: none;
    margin: 0; }
    .related-posts ul#style_outlet_related_posts li {
      width: 31.33%;
      float: left;
      margin: 1%;
      line-height: normal; }
      .related-posts ul#style_outlet_related_posts li a {
        line-height: normal; }
    .related-posts ul#style_outlet_related_posts li:nth-child(3n+1) {
      clear: both; }

.post {
  position: relative; }
  .post .latest-content h1.entry-title {
    font-size: 32px;
    text-transform: uppercase; }
  .post .latest-content .entry-meta span {
    font-size: 13px; }
  .post .latest-content .entry-content p {
    color: #222222;
    line-height: 24px; }
  .post .latest-content .entry-footer {
    display: none; }
  .post .latest-content a.more-link {
    position: absolute;
    bottom: 0%;
    right: 0%;
    border-radius: 0;
    padding: 5px 10px 5px 20px;
    background: #6b6b6b;
    text-transform: uppercase; }
    .post .latest-content a.more-link:before {
      position: absolute;
      content: "\f067";
      font-family: "FontAwesome";
      left: 7px;
      font-size: 10px; }
    .post .latest-content a.more-link:hover {
      background: #605790; }

/* Single Blog Post */
.single-post .entry-header h1 {
  margin-bottom: 20px; }

.single-post #respond .comment-form-url label {
  color: #605790; }

.single-post #respond .comment-form-url #url {
  background: rgba(96, 87, 144, 0.043);
  border: 0;
  width: 100%; }

/* Cart Page Style */
.woocommerce table.shop_table {
  border: 1px solid #d9d9d9;
  margin-bottom: 50px;
  border-radius: 0px; }
  .woocommerce table.shop_table thead th {
    background: #605790;
    color: #fff;
    text-transform: capitalize;
    font-weight: 400;
    border-right: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    text-align: center; }
    .woocommerce table.shop_table thead th:last-child {
      border-right: 0; }
  .woocommerce table.shop_table tbody {
    background: rgba(96, 87, 144, 0.045); }
    .woocommerce table.shop_table tbody .cart_item td {
      border-right: 1px solid #d9d9d9;
      border-bottom: 1px solid #d9d9d9;
      border-top: 0;
      text-align: center;
      color: #222222; }
      .woocommerce table.shop_table tbody .cart_item td a {
        color: #222222; }
      .woocommerce table.shop_table tbody .cart_item td:last-child {
        border-right: 0; }
      .woocommerce table.shop_table tbody .cart_item td .quantity .qty {
        padding: 7px 2px 7px 8px;
        width: 4em; }
    .woocommerce table.shop_table tbody .cart_item img {
      display: block;
      text-align: center;
      margin: 0 auto; }
    .woocommerce table.shop_table tbody td.actions {
      padding: 12px;
      border-top: 0;
      border-bottom: 0; }
      .woocommerce table.shop_table tbody td.actions .coupon #coupon_code {
        padding: 9px 12px !important; }
      .woocommerce table.shop_table tbody td.actions .coupon input.button {
        padding: 9px 12px !important;
        background: #605790 !important;
        text-transform: capitalize; }
        .woocommerce table.shop_table tbody td.actions .coupon input.button:hover {
          background: #222222 !important; }
      .woocommerce table.shop_table tbody td.actions .button {
        padding: 9px 12px !important;
        background: #605790 !important; }
        .woocommerce table.shop_table tbody td.actions .button:hover {
          background: #222222 !important; }

.woocommerce .cart-collaterals .cart_totals h2 {
  font-size: 2.5rem; }

.woocommerce .cart-collaterals .cart_totals tbody th {
  text-align: center;
  color: #222222;
  border-right: 1px solid #d9d9d9;
  border-bottom: 0; }

.woocommerce .cart-collaterals .cart_totals tbody .cart-subtotal th, .woocommerce .cart-collaterals .cart_totals tbody .cart-subtotal td {
  border-bottom: 1px solid #d9d9d9; }

.woocommerce .cart-collaterals .cart_totals tbody td {
  text-align: center;
  border-bottom: 0; }
  .woocommerce .cart-collaterals .cart_totals tbody td .amount {
    color: #222222; }

.woocommerce .cart-collaterals .cross-sells ul.products li {
  width: 65%; }

.woocommerce .wc-proceed-to-checkout .checkout-button.button.alt {
  display: inline-block !important;
  font-size: 16px !important;
  padding: 6px 18px !important;
  background: #605790 !important;
  border: 0 !important; }
  .woocommerce .wc-proceed-to-checkout .checkout-button.button.alt:hover {
    background: #222222 !important; }

/* My Account Page */
.woocommerce #customer_login .u-column1 h2, .woocommerce #customer_login .u-column2 h2 {
  font-size: 3.2rem;
  color: #605790;
  text-align: center; }

.woocommerce #customer_login .u-column1 form.login, .woocommerce #customer_login .u-column1 form.register, .woocommerce #customer_login .u-column2 form.login, .woocommerce #customer_login .u-column2 form.register {
  border: 1px solid #d9d9d9;
  border-radius: 0px;
  background: rgba(96, 87, 144, 0.045); }
  .woocommerce #customer_login .u-column1 form.login input, .woocommerce #customer_login .u-column1 form.register input, .woocommerce #customer_login .u-column2 form.login input, .woocommerce #customer_login .u-column2 form.register input {
    border: 1px solid #d9d9d9;
    margin-top: 10px; }
  .woocommerce #customer_login .u-column1 form.login input.button, .woocommerce #customer_login .u-column1 form.register input.button, .woocommerce #customer_login .u-column2 form.login input.button, .woocommerce #customer_login .u-column2 form.register input.button {
    margin-top: 0px;
    padding: 8px 15px;
    background: #605790; }
    .woocommerce #customer_login .u-column1 form.login input.button:hover, .woocommerce #customer_login .u-column1 form.register input.button:hover, .woocommerce #customer_login .u-column2 form.login input.button:hover, .woocommerce #customer_login .u-column2 form.register input.button:hover {
      background: #222222 !important; }

/* CheckOut Page */
.woocommerce #customer_details h3 {
  font-size: 2.8rem;
  color: #605790; }

.woocommerce #customer_details input {
  border: 1px solid #d9d9d9;
  margin-top: 10px; }

.woocommerce #customer_details #billing_phone {
  padding: 6px 15px; }

.woocommerce #customer_details #s2id_billing_state {
  margin-top: 10px; }
  .woocommerce #customer_details #s2id_billing_state .select2-choice {
    padding: 2px 0px 2px 8px; }

.woocommerce #order_review_heading {
  font-size: 2.8rem;
  color: #605790; }

.woocommerce #order_review thead th, .woocommerce #order_review thead td {
  font-weight: 700; }

.woocommerce #order_review tbody th, .woocommerce #order_review td {
  border-bottom: 0; }

.woocommerce #order_review tbody td {
  border-top: 1px solid #d9d9d9; }

.woocommerce #order_review tfoot {
  background: rgba(96, 87, 144, 0.045); }
  .woocommerce #order_review tfoot th, .woocommerce #order_review tfoot td {
    text-align: center; }
  .woocommerce #order_review tfoot th {
    border-right: 1px solid #d9d9d9; }

.woocommerce #order_review #payment {
  background: rgba(96, 87, 144, 0.045);
  border: 1px solid #d9d9d9;
  border-radius: 0; }
  .woocommerce #order_review #payment label {
    color: #222222; }
  .woocommerce #order_review #payment .input-radio {
    position: relative;
    top: 4px; }
  .woocommerce #order_review #payment .place-order input {
    padding: 8px 15px;
    background: #605790 !important;
    border: 0;
    text-transform: capitalize; }
    .woocommerce #order_review #payment .place-order input:hover {
      background: #222222 !important; }

.woocommerce .checkout_coupon {
  background: rgba(96, 87, 144, 0.045);
  border: 1px solid #d9d9d9;
  border-radius: 0; }
  .woocommerce .checkout_coupon .form-row-last {
    padding-top: 5px; }
    .woocommerce .checkout_coupon .form-row-last .button {
      padding: 8px 15px !important;
      background: #605790 !important; }

.woocommerce .login {
  background: rgba(96, 87, 144, 0.045); }
  .woocommerce .login .form-row-first input {
    border: 1px solid #d9d9d9; }
  .woocommerce .login .button {
    background: #605790 !important; }
    .woocommerce .login .button:hover {
      background: #222222 !important; }

/* Woocommerce Pagination */
.woocommerce nav.woocommerce-pagination ul {
  border: none; }
  .woocommerce nav.woocommerce-pagination ul li {
    display: inline-block;
    margin-right: 10px;
    color: #fff;
    padding: 8px 15px;
    background: #605790; }
    .woocommerce nav.woocommerce-pagination ul li span, .woocommerce nav.woocommerce-pagination ul li a {
      display: inline-block;
      text-align: center;
      font-size: 15px;
      font-size: 1.5rem;
      color: #fff;
      background: transparent !important; }
    .woocommerce nav.woocommerce-pagination ul li:hover {
      background: #222222; }

.home .site-content {
  padding-top: 75px;
  padding-bottom: 25px;
  margin-bottom: 0px; }

.home .site-header {
  border-bottom: none; }

.home.blog .site-content {
  padding-top: 100px; }

/* service title divider */
.title-divider {
  text-align: center;
  padding-bottom: 20px;
  position: relative; }
  .title-divider:before {
    position: absolute;
    content: "";
    height: 2px;
    background: #605790;
    width: 95px;
    bottom: 0;
    left: calc(50% - 48px);
    box-shadow: 10px 0px 0 #fff inset,-10px 0 0 #fff inset;
    border-left: 25px solid #d7d7d7;
    border-right: 25px solid #d7d7d7; }

.error-404.not-found {
  text-align: center; }
  .error-404.not-found h1.page-title {
    text-align: center;
    margin-bottom: 30px; }
    .error-404.not-found h1.page-title span {
      color: #4d4d4d;
      display: block; }

.no-results input[type="search"], .not-found input[type="search"] {
  float: left;
  width: 75%; }

.no-results input[type="submit"], .not-found input[type="submit"] {
  float: left;
  width: 20%;
  position: relative;
  right: -4px;
  top: -5px; }

/* Woocommerce Service Section */
.service-wrapper {
  position: relative;
  border: 1px solid #dad9d9;
  margin-bottom: 35px; }
  .service-wrapper img {
    display: block; }
  .service-wrapper .service-content {
    position: absolute;
    right: 15px;
    text-align: right;
    bottom: 5%; }
    .service-wrapper .service-content p a {
      padding: 3px 20px;
      text-transform: uppercase;
      background: #222222;
      display: inline-block;
      margin-top: 5px;
      color: #fff; }
      .service-wrapper .service-content p a:hover {
        background: #605790;
        color: #fff; }
    .service-wrapper .service-content h4 {
      text-transform: uppercase;
      margin-bottom: 0px;
      font-weight: normal; }
      .service-wrapper .service-content h4 a {
        color: #6b6b6b; }
        .service-wrapper .service-content h4 a:hover {
          color: #605790; }

.box-right .service-content {
  top: 5%; }

.row #primary .page-title {
  font-size: 2.4rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #222222;
  font-weight: normal;
  font-family: "Open Sans",sans-serif; }
  .row #primary .page-title span {
    background: #605790;
    padding: 3px 20px; }

.entry-header h1 {
  font-size: 2.2rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #222222;
  margin-bottom: 50px; }
  .entry-header h1 span {
    background: #605790;
    padding: 3px 20px; }

.flexslider {
  border: 0 !important;
  margin-bottom: 0;
  box-shadow: inset 0 0 0 transparent !important;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  border-radius: 0px !important;
  background: transparent !important; }
  .flexslider .slides > li {
    position: relative; }
  .flexslider .flex-direction-nav li {
    border: 0 !important;
    padding: 0; }
  .flexslider .flex-direction-nav a {
    margin: 0;
    text-align: center;
    top: 45%;
    opacity: 1;
    overflow: visible;
    width: 40px;
    height: 40px;
    font-size: 0px;
    font-size: 0rem;
    line-height: 40px;
    background: rgba(34, 34, 34, 0.9);
    border-radius: 2px; }
    .flexslider .flex-direction-nav a:before {
      font-size: 20px;
      font-size: 2rem;
      color: #fff;
      font-family: "FontAwesome"; }
    .flexslider .flex-direction-nav a:hover {
      background-color: #222222; }
      .flexslider .flex-direction-nav a:hover:before {
        color: #fff; }
  .flexslider .flex-direction-nav a.flex-prev {
    left: 10px; }
    .flexslider .flex-direction-nav a.flex-prev:before {
      content: "\f104"; }
    .flexslider .flex-direction-nav a.flex-prev:after {
      left: 5px; }
  .flexslider .flex-direction-nav a.flex-next {
    text-align: center;
    right: 10px; }
    .flexslider .flex-direction-nav a.flex-next:before {
      content: "\f105"; }
    .flexslider .flex-direction-nav a.flex-next:after {
      right: 5px; }
  .flexslider .flex-control-nav {
    text-align: right;
    bottom: 0; }
    .flexslider .flex-control-nav li {
      display: block;
      float: left;
      margin: 0; }
  .flexslider ol.flex-control-paging {
    text-align: center;
    bottom: 15px;
    z-index: 10; }
    .flexslider ol.flex-control-paging li {
      float: none;
      display: inline;
      padding: 0px; }
      .flexslider ol.flex-control-paging li a {
        display: inline-block;
        background-clip: padding-box;
        /* stops bg color from leaking outside the border: */
        border-radius: 25px !important;
        background-color: #fff;
        border: 1px solid #fff !important;
        text-indent: -9999em !important;
        margin: 0 3px;
        box-shadow: none; }
      .flexslider ol.flex-control-paging li a.flex-active, .flexslider ol.flex-control-paging li a:hover {
        border: 1px solid #fff !important;
        border-radius: 25px;
        background-color: transparent; }
  .flexslider:hover .flex-direction-nav a.flex-prev {
    background-color: rgba(34, 34, 34, 0.7);
    opacity: 1; }
    .flexslider:hover .flex-direction-nav a.flex-prev:hover {
      background-color: rgba(96, 87, 144, 0.4); }
  .flexslider:hover .flex-direction-nav a.flex-next {
    background-color: rgba(34, 34, 34, 0.7);
    opacity: 1; }
    .flexslider:hover .flex-direction-nav a.flex-next:hover {
      background-color: rgba(96, 87, 144, 0.4); }

.flexslider .flex-caption {
  position: absolute;
  top: 25%;
  color: #fff;
  padding: 30px 50px 30px 130px;
  text-align: left;
  margin: 0 auto;
  background: rgba(34, 34, 34, 0.5); }
  .flexslider .flex-caption h1, .flexslider .flex-caption h2, .flexslider .flex-caption h4, .flexslider .flex-caption h5, .flexslider .flex-caption h6 {
    color: #fff;
    position: relative; }
  .flexslider .flex-caption h3 {
    font-family: 'Great Vibes', cursive;
    font-weight: 400;
    font-size: 3.2rem;
    color: #fff;
    margin-bottom: -15px;
    letter-spacing: 0.04em; }
  .flexslider .flex-caption p {
    font-size: 16px;
    font-size: 1.6rem; }
  .flexslider .flex-caption p a {
    color: #fff;
    padding: 7px 30px 7px 16px;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    border: 1px solid #fff;
    position: relative; }
    .flexslider .flex-caption p a:after {
      position: absolute;
      content: '\f105';
      font-family: "FontAwesome";
      top: 6px;
      font-weight: 600;
      color: #fff;
      padding-left: 10px; }
    .flexslider .flex-caption p a:hover {
      background-color: #fff;
      color: #222222; }
      .flexslider .flex-caption p a:hover:after {
        color: #222222; }

.woocommerce button.button,
.woocommerce-page button.button,
.woocommerce #content table.cart input,
.woocommerce table.cart input,
.woocommerce-page #content table.cart input,
.woocommerce-page table.cart input {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.woocommerce #content input.button,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce-page #content input.button,
.woocommerce-page #respond input#submit,
.woocommerce-page a.button,
.woocommerce-page button.button,
.woocommerce-page input.button {
  color: #fff;
  background: #222222; }

.woocommerce #content input.button:hover,
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce-page #content input.button:hover,
.woocommerce-page #respond input#submit:hover,
.woocommerce-page a.button:hover,
.woocommerce-page button.button:hover,
.woocommerce-page input.button:hover {
  background: none !important;
  background-color: #605790 !important;
  color: #fff; }

.woocommerce #content input.button.alt,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce-page #content input.button.alt,
.woocommerce-page #respond input#submit.alt,
.woocommerce-page a.button.alt,
.woocommerce-page button.button.alt,
.woocommerce-page input.button.alt {
  background: #272727 !important;
  /* Old browsers */
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #272727), color-stop(100%, #45484d)) !important;
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #272727 0%, #45484d 100%) !important;
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(to bottom, #272727 0%, #45484d 100%) !important;
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#272727', endColorstr='#45484d',GradientType=0 ) !important;
  /* IE6-9 */
  border: 1px solid #333; }

.woocommerce #content input.button.alt:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce-page #content input.button.alt:hover,
.woocommerce-page #respond input#submit.alt:hover,
.woocommerce-page a.button.alt:hover,
.woocommerce-page button.button.alt:hover,
.woocommerce-page input.button.alt:hover {
  border-color: #000;
  background: #666 !important;
  /* Old browsers */
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45484d), color-stop(100%, #45484d)) !important;
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #666 0%, #45484d 100%) !important;
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(to bottom, #666 0%, #45484d 100%) !important;
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666', endColorstr='#45484d',GradientType=0 ) !important;
  /* IE6-9 */ }

.woocommerce-info:before {
  top: 8px;
  color: #605790; }

.woocommerce .woocommerce-info,
.woocommerce-page .woocommerce-info,
.woocommerce .woocommerce-message,
.woocommerce-page .woocommerce-message {
  border-color: #333; }

.order-total .amount,
.cart-subtotal .amount {
  color: #605790; }

.woocommerce ul.products li.product .price,
.woocommerce-page ul.products li.product .price,
.woocommerce #content div.product p.price,
.woocommerce #content div.product span.price,
.woocommerce div.product p.price,
.woocommerce div.product span.price,
.woocommerce-page #content div.product p.price,
.woocommerce-page #content div.product span.price,
.woocommerce-page div.product p.price,
.woocommerce-page div.product span.price {
  color: #222222; }

.woocommerce a.added_to_cart,
.woocommerce-page a.added_to_cart {
  background-color: #666;
  color: #fff; }

.woocommerce a.added_to_cart:hover,
.woocommerce-page a.added_to_cart:hover {
  background-color: #000; }

.woocommerce .woocommerce-breadcrumb a,
.woocommerce-page .woocommerce-breadcrumb a {
  color: #fff; }

.woocommerce #content div.product .woocommerce-tabs ul.tabs li, .woocommerce div.product .woocommerce-tabs ul.tabs li, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li, .woocommerce-page div.product .woocommerce-tabs ul.tabs li {
  background: #f2f9fe;
  /* Old browsers */
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f9fe), color-stop(100%, #d6f0fd));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f2f9fe 0%, #d6f0fd 100%);
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(to bottom, #f2f9fe 0%, #d6f0fd 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f9fe', endColorstr='#d6f0fd',GradientType=0 );
  /* IE6-9 */ }

.woocommerce #content table.cart a.remove,
.woocommerce table.cart a.remove,
.woocommerce-page #content table.cart a.remove,
.woocommerce-page table.cart a.remove {
  color: #605790; }

.woocommerce #content table.cart a.remove:hover,
.woocommerce table.cart a.remove:hover,
.woocommerce-page #content table.cart a.remove:hover,
.woocommerce-page table.cart a.remove:hover {
  background-color: #222222; }

.woocommerce span.onsale, .woocommerce-page span.onsale {
  background: #fceabb;
  /* Old browsers */
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fceabb), color-stop(50%, #fccd4d), color-stop(51%, #f8b500), color-stop(100%, #fbdf93));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(to bottom, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 );
  /* IE6-9 */ }

.woocommerce #content nav.woocommerce-pagination ul li a,
.woocommerce #content nav.woocommerce-pagination ul li span,
.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span,
.woocommerce-page #content nav.woocommerce-pagination ul li a,
.woocommerce-page #content nav.woocommerce-pagination ul li span,
.woocommerce-page nav.woocommerce-pagination ul li a,
.woocommerce-page nav.woocommerce-pagination ul li span {
  background-color: #222222;
  color: #fff !important; }

.woocommerce #content nav.woocommerce-pagination ul li a:focus,
.woocommerce #content nav.woocommerce-pagination ul li a:hover,
.woocommerce #content nav.woocommerce-pagination ul li span.current,
.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce-page #content nav.woocommerce-pagination ul li a:focus,
.woocommerce-page #content nav.woocommerce-pagination ul li a:hover,
.woocommerce-page #content nav.woocommerce-pagination ul li span.current,
.woocommerce-page nav.woocommerce-pagination ul li a:focus,
.woocommerce-page nav.woocommerce-pagination ul li a:hover,
.woocommerce-page nav.woocommerce-pagination ul li span.current {
  background-color: #605790;
  color: #fff; }

.woocommerce #content nav.woocommerce-pagination ul li,
.woocommerce #content nav.woocommerce-pagination ul {
  background-color: #222222; }

.woocommerce-error li strong {
  color: #B81C23; }

.woocommerce #content input.button,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce-page #content input.button,
.woocommerce-page #respond input#submit,
.woocommerce-page a.button,
.woocommerce-page button.button,
.woocommerce-page input.button {
  border: 0;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  border-radius: 0;
  text-shadow: 0 0 0;
  font-weight: 400; }

.woocommerce .woocommerce-error:before,
.woocommerce .woocommerce-info:before,
.woocommerce .woocommerce-message:before,
.woocommerce-page .woocommerce-error:before,
.woocommerce-page .woocommerce-info:before,
.woocommerce-page .woocommerce-message:before {
  padding-top: 0;
  height: 2.5em;
  line-height: 2.5;
  width: 2em; }

.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea,
.woocommerce-page form .form-row input.input-text,
.woocommerce-page form .form-row textarea {
  line-height: normal;
  border: 1px solid #aea9a9;
  color: #000; }

.woocommerce a.added_to_cart,
.woocommerce-page a.added_to_cart {
  padding: 2px 15px 1px 30px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  border-radius: 3px; }

.woocommerce .woocommerce-breadcrumb a,
.woocommerce-page .woocommerce-breadcrumb a {
  text-decoration: none; }

.woocommerce .woocommerce-breadcrumb a:hover,
.woocommerce-page .woocommerce-breadcrumb a:hover {
  color: #605790; }

.woocommerce #content div.product .woocommerce-tabs ul.tabs li a:hover,
.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a:hover,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li a:hover {
  position: static; }

.woocommerce #content div.product form.cart table.variations,
.woocommerce div.product form.cart table.variations,
.woocommerce-page #content div.product form.cart table.variations,
.woocommerce-page div.product form.cart table.variations,
.woocommerce #content div.product form.cart table.variations td,
.woocommerce div.product form.cart table.variations td,
.woocommerce-page #content div.product form.cart table.variations td,
.woocommerce-page div.product form.cart table.variations td {
  border: 0; }

.cross-sells h2,
.shipping_calculator h2 {
  font-size: 1.6em; }

.woocommerce #content table.cart a.remove,
.woocommerce table.cart a.remove,
.woocommerce-page #content table.cart a.remove,
.woocommerce-page table.cart a.remove {
  margin: 0 auto; }

.woocommerce #content table.cart td.actions input#coupon_code,
.woocommerce table.cart td.actions input#coupon_code,
.woocommerce-page #content table.cart td.actions input#coupon_code,
.woocommerce-page table.cart td.actions input#coupon_code {
  width: auto; }

.woocommerce button.button,
.woocommerce-page button.button {
  padding: 10px 12px; }

.woocommerce .cart button.single_add_to_cart_button {
  padding: 6px 12px 5px; }

.woocommerce button.button, .woocommerce-page button.button,
.woocommerce #content div.product .woocommerce-tabs .panel,
.woocommerce div.product .woocommerce-tabs .panel,
.woocommerce-page #content div.product .woocommerce-tabs .panel,
.woocommerce-page div.product .woocommerce-tabs .panel {
  padding: 20px;
  border-top: 0; }

.woocommerce #content div.product .woocommerce-tabs ul.tabs,
.woocommerce div.product .woocommerce-tabs ul.tabs,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs,
.woocommerce-page div.product .woocommerce-tabs ul.tabs {
  margin-bottom: 0; }

.woocommerce #content table.cart td.actions .coupon #coupon_code,
.woocommerce table.cart td.actions .coupon #coupon_code,
.woocommerce-page #content table.cart td.actions .coupon #coupon_code,
.woocommerce-page table.cart td.actions .coupon #coupon_code {
  padding: 4px 6px; }

.woocommerce #content div.product .stock,
.woocommerce div.product .stock,
.woocommerce-page #content div.product .stock,
.woocommerce-page div.product .stock {
  text-decoration: underline;
  color: #333; }

.woocommerce span.onsale, .woocommerce-page span.onsale {
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  border-radius: 50px;
  padding: 8px 13px; }

.woocommerce ul.products li.product .onsale,
.woocommerce-page ul.products li.product .onsale {
  margin: -15px -15px 0 0; }

.woocommerce #content nav.woocommerce-pagination ul li a,
.woocommerce #content nav.woocommerce-pagination ul li span,
.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span,
.woocommerce-page #content nav.woocommerce-pagination ul li a,
.woocommerce-page #content nav.woocommerce-pagination ul li span,
.woocommerce-page nav.woocommerce-pagination ul li a,
.woocommerce-page nav.woocommerce-pagination ul li span {
  border: 0;
  padding: 3px 10px; }

.woocommerce #content nav.woocommerce-pagination ul li a:focus,
.woocommerce #content nav.woocommerce-pagination ul li a:hover,
.woocommerce #content nav.woocommerce-pagination ul li span.current,
.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce-page #content nav.woocommerce-pagination ul li a:focus,
.woocommerce-page #content nav.woocommerce-pagination ul li a:hover,
.woocommerce-page #content nav.woocommerce-pagination ul li span.current,
.woocommerce-page nav.woocommerce-pagination ul li a:focus,
.woocommerce-page nav.woocommerce-pagination ul li a:hover,
.woocommerce-page nav.woocommerce-pagination ul li span.current {
  border: 0; }

.woocommerce #content nav.woocommerce-pagination ul li {
  border: 0; }

.woocommerce #content nav.woocommerce-pagination ul {
  padding: 7px 10px;
  border: 0; }

.woocommerce-page .site-footer,
.woocommerce-page .footer-bottom,
.woocommerce-page .woocommerce-breadcrumb {
  padding: 0 50%;
  box-sizing: content-box;
  margin: 0 -50%; }

.woocommerce a.remove {
  background: #605790;
  color: #fff !important; }

/*.woocommerce {
	#primary {
		margin: 50px 0px;
	}
}*/
/*Product inner Page*/
.woocommerce .cart button.single_add_to_cart_button {
  padding: 8px 15px;
  background: #605790 !important;
  border: 0;
  text-transform: capitalize; }
  .woocommerce .cart button.single_add_to_cart_button:hover {
    background: #222222 !important; }

.woocommerce-product-gallery__image {
  padding-top: 1em; }

.woocommerce div.product .product_title {
  font-size: 32px;
  border-bottom: 1px solid #d6d6d6;
  margin-bottom: 10px; }

.woocommerce div.product div.images, .woocommerce div.product div.summary {
  margin-top: 0px; }

.row {
  padding-top: 50px;
  margin-bottom: 5%; }
  .row #primary {
    margin-top: 21px; }

.woocommerce div.product form.cart div.quantity {
  margin-right: 6px; }

.woocommerce .quantity .qty {
  border: 1px solid rgba(107, 107, 107, 0.6);
  width: 4;
  padding: 2px;
  text-align: left;
  color: #222222; }

.woocommerce .woocommerce-product-rating {
  display: none; }

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
  width: 31.8%;
  margin-right: 1.5%;
  display: inline-block;
  float: none;
  background: #e6e7e8;
  position: relative; }
  .woocommerce ul.products li.product a img, .woocommerce-page ul.products li.product a img {
    margin-bottom: 0px; }
  .woocommerce ul.products li.product h3, .woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product h3, .woocommerce-page ul.products li.product .price {
    text-align: center; }
  .woocommerce ul.products li.product h3, .woocommerce-page ul.products li.product h3 {
    margin-top: 1em; }
  .woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price {
    margin-bottom: 1em; }
  .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce-page ul.products li.product .woocommerce-loop-product__title {
    font-size: 1.4em;
    text-align: center;
    font-weight: normal;
    font-family: "Open Sans", sans-serif; }
  .woocommerce ul.products li.product .star-rating, .woocommerce-page ul.products li.product .star-rating {
    display: none; }
  .woocommerce ul.products li.product .button, .woocommerce-page ul.products li.product .button {
    display: none; }
  .woocommerce ul.products li.product:hover .button.product_type_simple, .woocommerce-page ul.products li.product:hover .button.product_type_simple {
    display: block;
    position: absolute;
    top: calc(100% - 300px);
    left: 50px;
    padding: 15px 20px 15px 45px;
    content: "";
    background: #605790;
    font-size: 16px;
    text-transform: capitalize; }
    .woocommerce ul.products li.product:hover .button.product_type_simple:before, .woocommerce-page ul.products li.product:hover .button.product_type_simple:before {
      position: absolute;
      content: "\f07a";
      font-family: FontAwesome;
      font-size: 20px;
      top: 12px;
      left: 15px; }
  .woocommerce ul.products li.product:hover .button.product_type_variable, .woocommerce-page ul.products li.product:hover .button.product_type_variable {
    display: block;
    position: absolute;
    top: calc(100% - 300px);
    left: 40px;
    padding: 15px 15px 15px 45px;
    content: "";
    background: #605790;
    font-size: 16px;
    text-transform: capitalize; }
    .woocommerce ul.products li.product:hover .button.product_type_variable:before, .woocommerce-page ul.products li.product:hover .button.product_type_variable:before {
      position: absolute;
      content: "\f07a";
      font-family: FontAwesome;
      font-size: 20px;
      top: 12px;
      left: 15px; }
  .woocommerce ul.products li.product:hover .added, .woocommerce-page ul.products li.product:hover .added {
    padding: 15px 15px 15px 45px !important;
    left: 17% !important; }
  .woocommerce ul.products li.product a.added_to_cart, .woocommerce-page ul.products li.product a.added_to_cart {
    position: absolute;
    top: calc(50%);
    left: 30%;
    padding: 5px 15px;
    content: "";
    background: #605790;
    font-size: 16px; }
  .woocommerce ul.products li.product .price .woocommerce-Price-amount, .woocommerce-page ul.products li.product .price .woocommerce-Price-amount {
    font-size: 1.4em; }
  .woocommerce ul.products li.product .price del, .woocommerce-page ul.products li.product .price del {
    display: inline;
    margin-right: 5px; }

.woocommerce span.onsale, .woocommerce-page span.onsale {
  background: #605790; }

.single-product del {
  font-size: 1em;
  margin-right: 5px; }

.single-product .woocommerce-Price-amount, .single-product ins {
  font-size: 1.2em; }

.single-product #tab-description {
  padding: 15px 20px; }
  .single-product #tab-description h2 {
    font-weight: 400;
    font-size: 2.8rem; }

.single-product .related.products h2 {
  font-size: 2.8rem; }

.single-product .up-sells.products h2 {
  font-size: 2.8rem;
  font-weight: 400; }

.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img {
  width: 55px; }

/*Woocommerce Price Widget*/
.woocommerce .widget_price_filter .price_slider_amount .button {
  text-transform: capitalize;
  padding: 8px 15px !important;
  background: #605790;
  font-size: 1.38em; }
  .woocommerce .widget_price_filter .price_slider_amount .button:hover {
    background: #222222 !important; }

.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
  background: #dad9d9; }

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
  background: #605790; }

.woocommerce .widget_price_filter .price_label {
  font-size: 16px;
  color: #222222; }

.woocommerce ul.products li.product:nth-child(3n) {
  margin-right: 0px; }

/* Woocommerce Message */
.woocommerce-message:before {
  color: #605790;
  top: 0.65em; }

/* Review Star */
.woocommerce .star-rating span {
  color: #605790; }

.woocommerce .star-rating::before {
  color: #605790; }

/* Inner Tab */
.woocommerce div.product .woocommerce-tabs ul.tabs::before {
  border-bottom: 1px solid #605790; }

.woocommerce div.product .woocommerce-tabs ul.tabs li::before {
  display: none; }

.woocommerce div.product .woocommerce-tabs ul.tabs li::after {
  display: none; }

.woocommerce div.product .woocommerce-tabs ul.tabs li {
  border: 1px solid #605790;
  border-radius: 0;
  margin: 0 2px; }

.woocommerce #content div.product .woocommerce-tabs ul.tabs li, .woocommerce div.product .woocommerce-tabs ul.tabs li, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li, .woocommerce-page div.product .woocommerce-tabs ul.tabs li {
  background: #605790; }

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
  color: #fff; }

.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover {
  color: #222222; }

/*--------------------------------------------------------------
10.0 Secondary
--------------------------------------------------------------*/
#secondary {
  padding-left: 50px; }

#content div#secondary:first-of-type {
  padding-left: 0px !important;
  padding-right: 50px; }

#secondary .left-sidebar {
  padding: 0px 10px 40px; }

.widget-area {
  margin-top: 1.5em; }
  .widget-area h4.widget-title {
    margin-bottom: 0px;
    padding-bottom: 10px;
    font-size: 20px;
    position: relative;
    text-transform: uppercase; }
  .widget-area ul {
    list-style: none; }
    .widget-area ul li {
      padding: 10px 0px;
      border-bottom: 1px solid rgba(107, 107, 107, 0.6); }
      .widget-area ul li a {
        color: #6b6b6b; }
        .widget-area ul li a:hover {
          color: #222222; }
      .widget-area ul li:last-child {
        border-bottom: 0;
        padding-bottom: 0; }
      .widget-area ul li ul.children,
      .widget-area ul li .sub-menu {
        padding-top: 5px; }
        .widget-area ul li ul.children li:last-child,
        .widget-area ul li .sub-menu li:last-child {
          padding-bottom: 0; }
  .widget-area select {
    width: 100%;
    background: url("images/down.png") no-repeat 95% 50%;
    -moz-appearance: none;
    border: 1px solid #dad9d9;
    padding: 5px 10% 5px 3%; }

.widget-area ul li {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #6b6b6b; }
  .widget-area ul li li {
    padding-left: 5px; }
  .widget-area ul li:hover {
    background-position: 10px 16px; }

.widget-area ul.children {
  padding-top: 0 !important;
  margin-left: -25px;
  padding-left: 0;
  border-top: 1px solid rgba(107, 107, 107, 0.6);
  margin-top: 15px !important; }
  .widget-area ul.children li {
    padding-left: 10px;
    list-style: none;
    background-position: 25px 16px; }
    .widget-area ul.children li:hover {
      background-position: 37px 16px; }
  .widget-area ul.children ul.children {
    margin-left: -50px;
    border-top: 1px solid rgba(107, 107, 107, 0.6); }
    .widget-area ul.children ul.children li {
      padding-left: 10px;
      list-style: none;
      background-position: 50px 16px; }
      .widget-area ul.children ul.children li:hover {
        background-position: 67px 16px; }
    .widget-area ul.children ul.children ul.children {
      margin-left: -75px; }
      .widget-area ul.children ul.children ul.children li {
        padding-left: 10px;
        list-style: none;
        background-position: 75px 16px; }
        .widget-area ul.children ul.children ul.children li:hover {
          background-position: 92px 16px; }

#secondary .widget, .site-footer .widget, .site-header .widget {
  margin: 0 0 3.5em 0;
  /* Make sure select elements fit in widgets */ }
  #secondary .widget ul, #secondary .widget ol, .site-footer .widget ul, .site-footer .widget ol, .site-header .widget ul, .site-header .widget ol {
    padding: 0;
    margin: 0; }
  #secondary .widget select, .site-footer .widget select, .site-header .widget select {
    max-width: 100%; }

.site-header .widget {
  margin: 0; }

#secondary .left-sidebar aside {
  margin: 0 0 5.5em 0; }
  #secondary .left-sidebar aside:last-child {
    margin-bottom: 0; }

#secondary #recentcomments a {
  color: #6b6b6b; }
  #secondary #recentcomments a:hover {
    color: #605790; }

.site-info .left-sidebar .widget-title, .top-nav .widget-title, .top-right .widget-title {
  display: none; }

#secondary .left-sidebar .widget_top_rated_products .star-rating {
  display: none; }

.widget_calendar table th, .widget_calendar table td {
  text-align: center;
  padding: 7px 5px;
  border-bottom: 1px solid #dad9d9;
  color: #222222; }
  .widget_calendar table th a, .widget_calendar table td a {
    display: block;
    color: #222222; }
    .widget_calendar table th a:hover, .widget_calendar table td a:hover {
      color: #605790; }

.widget_calendar table thead th {
  border-right: 1px solid #dad9d9;
  padding: 15px 0px; }
  .widget_calendar table thead th:first-child {
    border-left: 1px solid #dad9d9; }

.widget_calendar table tbody td {
  border-right: 1px solid #dad9d9; }

.widget_calendar table tbody tr td:first-child {
  border-left: 1px solid #dad9d9; }

.widget_calendar table tfoot td {
  border: none; }
  .widget_calendar table tfoot td a {
    color: #605790; }
    .widget_calendar table tfoot td a:hover {
      color: #222222; }

.widget_calendar table tfoot #prev {
  text-align: left; }

.widget_calendar table tfoot #next {
  text-align: right; }

.widget_calendar table caption {
  text-align: center;
  background-color: #605790;
  color: #fff;
  padding: 5px 0;
  position: relative; }

/* Footer */
.site-footer .widget_calendar table a {
  color: #605790; }

.widget-area .rss-date,
.widget-area .widget_rss cite {
  display: block;
  color: #dad9d9;
  margin: 5px 0; }

.widget-area .widget_rss span {
  color: #605790; }

.widget-area .widget_rss cite {
  color: #6b6b6b; }

.widget-area .widget_rss a {
  color: #222222;
  font-family: "Roboto Slab", serif; }
  .widget-area .widget_rss a:hover {
    color: #605790; }

.widget-area .widget_rss .widget-title .rsswidget {
  color: #222222; }
  .widget-area .widget_rss .widget-title .rsswidget img {
    margin: 0; }

.widget-area .widget_rss ul {
  padding-left: 0px !important; }
  .widget-area .widget_rss ul li {
    background: none;
    padding-left: 0;
    list-style: none;
    border-bottom: 1px solid #dad9d9;
    padding-top: 15px; }
    .widget-area .widget_rss ul li:last-child {
      border-bottom: 0; }
    .widget-area .widget_rss ul li a {
      font-size: 16px; }

.widget-area .rssSummary {
  font-size: .95em;
  padding-top: 5px; }

.widget_search .search-form {
  position: relative; }
  .widget_search .search-form label {
    display: block; }
  .widget_search .search-form input[type="search"] {
    color: #222222;
    width: 100%;
    padding: 5px;
    background: transparent; }
  .widget_search .search-form input[type="search"]:focus {
    background: #fff;
    color: #222222 !important; }
  .widget_search .search-form input[type="submit"] {
    border: 0;
    position: absolute;
    right: -12px;
    top: 0px;
    text-indent: -9999em;
    height: 100%;
    background: #605790 url("images/icon-search-white.png") no-repeat 60% 50%; }

.nav-wrap .search-form {
  top: 13px;
  text-align: right;
  position: relative;
  margin: 0px 10px; }
  .nav-wrap .search-form .search-submit {
    position: absolute;
    right: -5px;
    margin: 0;
    padding: 5px;
    top: 10px;
    border: none;
    color: transparent; }

.widget-area .textwidget select {
  padding: 5px 10px;
  background-color: transparent;
  border: 1px solid #dad9d9; }

.wp-caption .wp-caption-text {
  margin: 0; }

.widget_tag_cloud a {
  padding: 2px 15px;
  color: #6b6b6b;
  margin: 3px;
  font-size: 14px !important;
  display: inline-block;
  border: 1px solid #6b6b6b; }
  .widget_tag_cloud a:hover {
    background: #605790;
    color: #fff; }

.widget_nav_menu a {
  display: block; }

.widget_nav_menu ul.sub-menu li {
  text-indent: 0; }

.widget_nav_menu ul.sub-menu {
  padding-top: 0 !important;
  padding-left: 0;
  margin-top: 15px !important;
  border-top: 1px solid rgba(107, 107, 107, 0.6); }

/*--------------------------------------------------------------
11.0 Footer
--------------------------------------------------------------*/
.site-footer .footer-widgets {
  margin-top: 0; }

.site-footer {
  background: #222222; }
  .site-footer .footer-widgets {
    padding: 90px 0 50px;
    color: #dfdfdf; }
    .site-footer .footer-widgets h4.widget-title {
      color: #fff;
      padding-bottom: 10px;
      font-size: 24px;
      font-size: 2.4rem;
      text-transform: uppercase; }
    .site-footer .footer-widgets ul li {
      padding-bottom: 5px;
      padding-top: 5px;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
      list-style: none;
      color: rgba(255, 255, 255, 0.7); }
      .site-footer .footer-widgets ul li:hover {
        background-position: 10px 12px; }
    .site-footer .footer-widgets ul.children,
    .site-footer .footer-widgets .widget_nav_menu ul.sub-menu {
      border-color: rgba(255, 255, 255, 0.2); }
    .site-footer .footer-widgets .calendar_wrap td, .site-footer .footer-widgets .calendar_wrap th {
      color: #fff; }
    .site-footer .footer-widgets .calendar_wrap a {
      color: #fff; }
      .site-footer .footer-widgets .calendar_wrap a:hover {
        color: #605790; }
    .site-footer .footer-widgets .calendar_wrap tbody tr:nth-child(odd) th {
      background-color: #222222;
      color: #fff; }
    .site-footer .footer-widgets .calendar_wrap tbody tr:nth-child(odd) td {
      background-color: #222222;
      color: #fff; }
    .site-footer .footer-widgets .calendar_wrap tbody tr:nth-child(even) th, .site-footer .footer-widgets .calendar_wrap tbody tr:nth-child(even) td {
      background-color: #222222;
      color: #fff; }
    .site-footer .footer-widgets .widget_calendar table caption {
      background: #605790;
      border: 1px solid #fff; }
    .site-footer .footer-widgets select {
      width: 100%;
      background: #fff url("images/down.png") no-repeat 95% 50% white;
      -moz-appearance: none;
      border: 1px solid #dad9d9;
      padding: 5px 10% 5px 3%; }
    .site-footer .footer-widgets .widget_search .search-form input[type="search"] {
      color: #fff; }
    .site-footer .footer-widgets a {
      color: rgba(255, 255, 255, 0.7); }
      .site-footer .footer-widgets a:hover {
        color: #605790; }
    .site-footer .footer-widgets p {
      color: rgba(255, 255, 255, 0.7); }
    .site-footer .footer-widgets .widget_nav_menu li {
      border-bottom: none; }
      .site-footer .footer-widgets .widget_nav_menu li ul.sub-menu {
        border-top: none;
        margin-left: 7px; }
    .site-footer .footer-widgets .widget_tag_cloud a:hover {
      color: #fff; }
    .site-footer .footer-widgets .widget_rss ul li {
      background: none; }

.seven.columns ul li {
  display: inline-block;
  padding: 10px 15px; }

.site-info {
  background: #605790; }
  .site-info .copyright {
    padding: 17px 0px; }
  .site-info .left-sidebar {
    text-align: rigth;
    padding-top: 12px; }
    .site-info .left-sidebar li a {
      font-family: "Open Sans", sans-serif; }
    .site-info .left-sidebar .textwidget ul {
      text-align: right; }
      .site-info .left-sidebar .textwidget ul li {
        list-style: none;
        display: inline-block;
        padding: 10px 15px; }
        .site-info .left-sidebar .textwidget ul li a {
          color: #fff; }
          .site-info .left-sidebar .textwidget ul li a:hover {
            color: #605790; }
  .site-info .widget {
    margin: 0; }
  .site-info p {
    color: #fff;
    margin: 0;
    font-size: 14px;
    font-size: 1.4rem; }
    .site-info p a {
      color: rgba(255, 255, 255, 0.7); }
      .site-info p a:hover {
        color: #fff; }
  .site-info .widget_nav_menu ul {
    text-align: right; }
  .site-info .widget_nav_menu .sub-menu {
    border-top: none; }
  .site-info .widget_nav_menu li {
    border: 0;
    padding: 0;
    display: inline; }
  .site-info .widget_nav_menu a {
    font-family: "Roboto Slab", serif;
    display: inline-block;
    color: rgba(255, 255, 255, 0.7);
    padding: 4px 10px;
    font-size: 13px;
    font-size: 1.3rem;
    text-transform: uppercase;
    border-top: 3px solid transparent;
    position: relative; }
    .site-info .widget_nav_menu a:hover {
      color: #fff; }

/*--------------------------------------------------------------
12.0 Responsiveness
--------------------------------------------------------------*/
@media only screen and (min-width: 960px) {
  .main-navigation ul ul li:hover > ul {
    left: 100%; } }

@media only screen and (max-width: 960px) {
  .main-navigation ul ul li:hover > ul {
    left: 100%; }
  .top-nav .container .eight.columns {
    width: 100%;
    text-align: center; }
    .top-nav .container .eight.columns ul {
      float: none; }
    .top-nav .container .eight.columns li {
      display: inline-block;
      float: none; }
  .comment-form input[type=text],
  .comment-form input[type=email],
  .comment-form input[type=text] {
    width: 48%; } }

@media only screen and (max-width: 1024px) {
  .widget_nav_menu ul.sub-menu li {
    padding-left: 20px; }
  .post-wrapper .latest-post {
    margin-left: 0;
    margin-right: 0; } }

@media only screen and (max-width: 850px) {
  .widget_nav_menu ul.sub-menu li {
    padding-left: 15px !important; } }

@media only screen and (max-width: 768px) {
  .breadcrumb-left, .breadcrumb-right {
    text-align: center !important; }
  .breadcrumb .container .eight.columns, .branding .container .eight.columns {
    width: 100%;
    text-align: center; }
  .breadcrumb .site-title, .breadcrumb .site-description, .branding .site-title, .branding .site-description {
    text-align: center; }
  .breadcrumb .main-navigation a::after, .branding .main-navigation a::after {
    top: 15px !important; }
  .breadcrumb .top-right, .branding .top-right {
    text-align: center; }
    .breadcrumb .top-right ul, .branding .top-right ul {
      float: none; }
    .breadcrumb .top-right li, .branding .top-right li {
      float: none;
      display: inline-block; }
    .breadcrumb .top-right li:first-child, .branding .top-right li:first-child {
      margin-right: 10px; }
  .post-wrapper .latest-post {
    text-align: center; }
  .widget_calendar table th, .widget_calendar table td {
    padding: 7px 2px; }
  table td {
    padding: 7px 2px; }
  .top-nav {
    padding-top: 10px; }
  .site-branding {
    text-align: center; }
    .site-branding img {
      margin: 0 auto; }
  .main-navigation {
    margin: 0;
    float: none; }
    .main-navigation a {
      padding: 15px !important; }
  #secondary {
    padding-left: 0; }
  .flexslider .flex-caption {
    position: static;
    background-color: #4d4d4d;
    padding: 30px 20px;
    min-height: 300px;
    width: 100%; }
  .flexslider ol.flex-control-paging {
    bottom: 0; }
  .post-wrapper .latest-post a.btn-readmore {
    display: inline-block;
    width: auto; }
  .latest-post {
    border: 1px solid #6b6b6b;
    margin-bottom: 50px !important; }
  .nav-wrap .search-form {
    margin-bottom: 30px; }
  .copyright {
    padding-bottom: 0 !important; }
  .site-info .left-sidebar {
    padding-bottom: 10px !important; }
  #secondary {
    left: 0 !important; } }

@media only screen and (max-width: 700px) {
  #commentform .comment-form-author,
  #commentform .comment-form-email,
  #commentform .comment-form-url {
    width: 100%;
    float: none;
    margin-right: 0; }
  .comment-form input[type=text],
  .comment-form input[type=email],
  .comment-form input[type=text] {
    width: 100%; }
  .comment-form input[type=email] {
    margin-left: 0px !important;
    margin-right: 0px !important; }
  .nav-links .nav-previous,
  .nav-links .nav-next,
  .comment-navigation .nav-previous,
  .comment-navigation .nav-next {
    width: 100%;
    float: none;
    margin: 0px;
    margin-bottom: 10px; }
  .post-navigation .nav-links a,
  .comment-navigation .nav-previous a,
  .comment-navigation .nav-next a {
    display: block;
    text-align: center; } }

@media only screen and (max-width: 480px) {
  .main-navigation {
    padding: 10px 0; }
    .main-navigation button.menu-toggle {
      margin: 0 auto;
      font-size: 15px;
      font-size: 1.5rem; }
    .main-navigation .menu-all-pages-container {
      padding-top: 0; }
  .flex-recent-posts li {
    width: 100%; }
    .flex-recent-posts li img {
      max-width: 100%;
      width: 100%; }
  ol.comment-list ol.children {
    margin-left: 1em; }
  .flexslider ol.flex-control-paging li a {
    width: 15px;
    height: 15px;
    line-height: 15px;
    border-width: 3px; } }

@media only screen and (max-width: 450px) {
  .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    width: 100%; }
  .three.columns.add-to-cart {
    display: block;
    text-align: center; }
    .three.columns.add-to-cart .cart-item {
      float: none; } }

@media only screen and (min-width: 460px) and (max-width: 760px) {
  .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    width: 48%; }
  .six.columns.header-search-box, .three.columns.add-to-cart {
    width: 46%;
    margin: 0 2% 0 3%; }
  .three.columns.add-to-cart {
    display: block;
    text-align: center;
    margin: 0; }
    .three.columns.add-to-cart .cart-item {
      float: none; } }

@media only screen and (min-width: 768px) and (max-width: 980px) {
  .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    width: 31.33%; }
  .container .eleven.columns, .container .five.columns {
    width: 100%; }
  .woocommerce ul.products li.product:nth-child(2n), .woocommerce-page ul.products li.product:nth-child(2n), .woocommerce-page[class*="columns-"] ul.products li.product:nth-child(2n), .woocommerce[class*="columns-"] ul.products li.product:nth-child(2n) {
    float: none; } }

@media only screen and (min-width: 770px) and (max-width: 980px) {
  .flexslider .flex-caption {
    top: calc(100% - 95%); } }
