.home-banner{
      .slider-item{
            height: 85vh;
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            display: block;
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
            outline: 0;
            display: table !important;

            .slider-text-wrapper {
                display: table-cell;
                text-align: center;
                vertical-align: middle;
                position: relative;
                z-index: 99;
                h2{
                      font-family: $title-family;
                      font-size: 66px;
                      color: #fff;
                      letter-spacing: 7px;
                      text-transform: uppercase;
                      margin-bottom: 45px;
                      margin-top: 0;
                  }
                  p{
                        color: #fff;
                        margin-bottom: 40px;
                  }
            }
            &:before{
                 position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: .3;
                content: '';
                background: linear-gradient(-60deg, transparent 64%, transparent 64%), linear-gradient(to bottom, #0510f2, #ea134b);
            }
      }
      .slider1{
            background-image: url("../img/1.jpeg");
      }
      .slider2{
            background-image: url("../img/2.jpg");
      }
}
