.prefooter{
    padding: 60px 0 !important;
    background: #000;
    .widget{
        color: #fff;
        .widget-title{
            font-size: 22px;
            letter-spacing: 4px;
            text-transform: uppercase;
            margin-top: 0;
            margin-bottom: 20px;
        }
        ul{
            padding: 0;
            margin: 0;
            list-style: none;
            li a{
               color: #fff;
                &:hover{
                    color: $color__theme;
                }
            }
        }
    }
    .social-nav{
        padding: 0;
        margin: 10px 0 0 0;
        list-style: none;
        li{
            display: inline-block;
            margin-right: 10px;
        }
    }
    .recent-tweets{
        li{
            margin-bottom: 25px;
            p{
                display: inline;
            }
        }
    }
}
.footer {
    text-align: center;
    padding: 10px 0;
}
