#site-navigation-wrap {
	float: right;
	position: relative;
	right: -15px;

	.dropdown-menu {
		list-style: none;
		margin: 0;
		padding: 0;

		> li {
			float: left;
			position: relative;

			> a {
				display: block;
				font-size: 13px;
				line-height: 74px;
				color: $color-11;
				padding: 0 15px;
				letter-spacing: 0.6px;

				&.site-search-toggle {
					letter-spacing: 0;
				}

				&:hover {
					color: $color-5;
				}

				.nav-arrow {
					padding-left: 6px;
					line-height: 1;
				}
			}

			&.btn > a > span {
			    background-color: $color-5;
			    color: $color-1;
			    padding: 12px 22px;
			    font-weight: 600;
			    border-radius: 4px;
			    cursor: pointer;
			    text-align: center;
			    transition: background-color .3s ease;
			    -webkit-transition: background-color .3s ease;
			    -moz-transition: background-color .3s ease;
			    -o-transition: background-color .3s ease;
			    -ms-transition: background-color .3s ease;
			}

		    &.btn > a:hover > span {
		    	background-color: $color-6;
		    	color: $color-1;
		    }

			&.btn.rounded > a > span {
			    border-radius: 25px;
			}
		}
	}
}

// If social
.has-social #site-navigation-wrap {
	right: 0;
}

// If left menu
.minimal-header.left-menu #site-navigation-wrap,
.transparent-header.left-menu #site-navigation-wrap {
	float: left;
	right: 0;
}

.minimal-header.left-menu #site-logo,
.transparent-header.left-menu #site-logo {
	padding-right: 20px;
}

// If center menu
.center-menu #site-navigation-wrap {
	position: absolute;
    float: none;
    left: 50%;
    right: auto;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

/**
 * SuperFish
 */
.sf-menu,
.sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sf-menu {
	li.menu-item {
		position: relative;
		white-space: nowrap;
		*white-space: normal;
	}

	li:hover,
	li.sfHover {
		transition: none
	}

	ul.sub-menu {
		position: absolute;
		display: none;
		top: 100%;
		left: 0;
		z-index: 9999;
	}

	> li {
		float: left

	}

	li:hover > ul,
	li.sfHover > ul {
		display: block
	}

	a.menu-link {
		display: block;
		position: relative;
		zoom: 1
	}

	ul.sub-menu ul {
		top: 0;
		left: 100%;
	}
}

/**
 * Search icon
 */
#searchform-dropdown {
	position: absolute;
	right: 0;
	background-color: $color-1;
	border-top: 3px solid $color-5;
	top: 100%;
	padding: 15px;
	width: 260px;
	-webkit-box-shadow: 0 2px 7px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 2px 7px rgba(0,0,0,0.1);
	box-shadow: 0 2px 7px rgba(0,0,0,0.1);
	visibility: hidden;
	opacity: 0;
	transition: all 0.25s ease-in-out;
	z-index: 10000;

	input {
		display: block;
		background-color: transparent;
		border-radius: 0;
		margin: 0;
	}
}

.no-top-border #searchform-dropdown {
	border: none;
}

/* search header replace */
#site-header.header-replace {
	#site-navigation {
		.dropdown-menu {
			transition: opacity 0.25s ease-in-out;
		    -webkit-transition: opacity 0.25s ease-in-out;
		    -moz-transition: opacity 0.25s ease-in-out;
		    -o-transition: opacity 0.25s ease-in-out;
		    -ms-transition: opacity 0.25s ease-in-out;
		}

		&.hide .dropdown-menu {
			visibility: hidden;
			opacity: 0;
		}
	}
}

#searchform-header-replace {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
    -ms-transition: opacity 0.25s ease-in-out;

	form {
		height: 100%;
		width: 100%;
	}

	input {
		height: 100%;
		width: 94%;
		font-size: 22px;
		background-color: transparent;
		color: $color-13;
		padding: 0;
		outline: 0;
		border: 0;
		margin: 0;
		border-radius: 0;
	}
}

#searchform-header-replace-close {
	position: absolute;
	right: 8px;
	top: 50%;
	margin-top: -20px;
	height: 40px;
	line-height: 40px;
	font-size: 26px;
	color: $color-13;
	cursor: pointer;
	transition: all .3s ease;

	&:hover {
		color: $color-3;
	}
}

/* display search on click */
#searchform-dropdown.show,
#searchform-header-replace.show {
	visibility: visible;
	opacity: 1;
}

/* overlay */
#searchform-overlay {
	display: none;
    position: fixed;
    top: 0;
    left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.9);
    z-index: 100;

    .container {
    	position: relative;
    	max-width: 550px;
    	height: 100%;
    }

    a.search-overlay-close {
    	position: absolute;
	    top: -50px;
	    left: 50%;
	    margin-left: -30px;
	    width: 40px;
	    height: 40px;
	    background-color: rgba(255,255,255,0.2);
	    text-align: center;
	    border-radius: 2px;

    	&:hover {
    		background-color: rgba(255,255,255,0.3);
    	}

    	span {
    		position: relative;
		    display: inline-block;
		    width: 24px;
		    height: 24px;

		    &:before,
		    &:after {
		    	content: '';
			    position: absolute;
			    top: 50%;
			    left: 0;
			    height: 2px;
			    width: 100%;
			    margin-top: 6px;
			    background-color: $color-1;
		    	border-radius: 5px;
		    }

		    &:before {
		    	-webkit-transform: rotate(45deg);
			    -moz-transform: rotate(45deg);
			    -ms-transform: rotate(45deg);
			    -o-transform: rotate(45deg);
			    transform: rotate(45deg);
		    }

		    &:after {
		    	-webkit-transform: rotate(-45deg);
			    -moz-transform: rotate(-45deg);
			    -ms-transform: rotate(-45deg);
			    -o-transform: rotate(-45deg);
			    transform: rotate(-45deg);
		    }
    	}
    }

    form {
    	position: absolute;
	    top: 50%;
	    left: 0;
	    margin-top: -33px;
	    width: 100%;
	    text-align: center;

	    input, label {
	    	font-size: 22px;
		    line-height: 1.3;
		    padding: 18px 0;
		    margin: 0;
		    min-height: 50px;
		    color: $color-1;
		    letter-spacing: 1px;
		    text-transform: uppercase;
		    text-align: center;
	    }

	    input {
	    	position: relative;
		    border: 0;
		    background-color: transparent;
		    border-bottom: 1px solid $color-14;
		    z-index: 2;
		    transition: border-color .3s ease;
		    -webkit-transition: border-color .3s ease;
		    -moz-transition: border-color .3s ease;
		    -o-transition: border-color .3s ease;
		    -ms-transition: border-color .3s ease;

		    &:hover {
		    	border-color: $color-15;
		    }

		    &:focus {
		    	border-color: $color-1;
		    }
	    }

		label {
		    display: block;
			position: absolute;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    cursor: text;
		    opacity: .5;
		    z-index: 1;

		    i {
		    	display: inline-block;
			    background-color: $color-1;
			    width: 3px;
			    height: 3px;
			    margin-left: 3px;
			    -webkit-animation: blink 1s linear infinite;
			    -moz-animation: blink 1s linear infinite;
			    -o-animation: blink 1s linear infinite;
			    animation: blink 1s linear infinite;
		    }

		    i+i {
			    -webkit-animation-delay: .2s;
			    -moz-animation-delay: .2s;
			    -o-animation-delay: .2s;
			    animation-delay: .2s
			}

			i+i+i {
			    -webkit-animation-delay: .4s;
			    -moz-animation-delay: .4s;
			    -o-animation-delay: .4s;
			    animation-delay: .4s
			}
		}

		&.search-filled label {
			opacity: 0;
		    -webkit-transition-duration: 150ms;
		    -moz-transition-duration: 150ms;
		    -o-transition-duration: 150ms;
		    transition-duration: 150ms;
		}
    }
}

/**
 * Social icons
 */
#oceanwp-social-menu {
	float: right;
    display: table;
    position: relative;
    z-index: 10;

    &.simple-social {
		right: -8px;
	}

	&.social-with-style {
		right: -2px;
	}

    .social-menu-inner {
    	display: table-cell;
    	vertical-align: middle;
    	height: 74px;
    }

    ul {
	    margin: 0;
	    padding: 0;
	    list-style: none;

	    li {
	    	float: left;
    		position: relative;

    		a {
    			display: inline-block;
			    background-color: transparent;
			    color: $color-4;
			    padding: 0 8px;
			    text-align: center;
			    letter-spacing: 0;

			    span {
			    	text-align: center;
			    }

			    &:hover {
			    	background-color: transparent;
			    }
    		}

		    &.oceanwp-twitter a:hover { color: #46d4fe; }
		    &.oceanwp-facebook a:hover { color: #37589b; }
		    &.oceanwp-googleplus a:hover { color: #de5a49; }
		    &.oceanwp-pinterest a:hover { color: #cb2027; }
		    &.oceanwp-dribbble a:hover { color: #ea4c89; }
		    &.oceanwp-vk a:hover { color: #597BA5; }
		    &.oceanwp-instagram a:hover { color: #3F729B; }
		    &.oceanwp-linkedin a:hover { color: #3399CC; }
		    &.oceanwp-tumblr a:hover { color: #2C4762; }
		    &.oceanwp-github a:hover { color: #60b044; }
		    &.oceanwp-flickr a:hover { color: #fa4086; }
		    &.oceanwp-skype a:hover { color: #00AFF0; }
		    &.oceanwp-youtube a:hover { color: #C4302B; }
		    &.oceanwp-vimeo a:hover { color: #1ab7ea; }
		    &.oceanwp-vine a:hover { color: #00bf8f; }
		    &.oceanwp-xing a:hover { color: #006464; }
		    &.oceanwp-yelp a:hover { color: #C41200; }
		    &.oceanwp-tripadvisor a:hover { color: #589442; }
		    &.oceanwp-rss a:hover { color: #ff7900; }
		    &.oceanwp-email a:hover { color: #13aff0; }
	    }
	}

	.colored ul li {
		padding: 0 2px;

		a {
	    	position: relative;
		    display: inline-block;
		    font-size: 12px;
		    color: $color-1;
		    line-height: 1;
    		padding: 1em;
		    border-radius: 50%;
		    vertical-align: middle;
		    -webkit-transition: all .3s ease-out;
		    -moz-transition: all .3s ease-out;
		    -o-transition: all .3s ease-out;
		    transition: all .3s ease-out;

		    &:hover {
		    	color: $color-1;
		    }

		    span {
		    	width: 1em;
    			height: 1em;
		    }
		}

	    &.oceanwp-twitter a { background-color: #46d4fe; }
	    &.oceanwp-twitter a:hover { background-color: #39b4d8; }
	    &.oceanwp-facebook a{ background-color: #37589b; }
	    &.oceanwp-facebook a:hover{ background-color: #2d477c; }
	    &.oceanwp-googleplus a{ background-color: #de5a49; }
	    &.oceanwp-googleplus a:hover { background-color: #bb4c3e; }
	    &.oceanwp-pinterest a { background-color: #cb2027; }
	    &.oceanwp-pinterest a:hover { background-color: #a91d23; }
	    &.oceanwp-dribbble a { background-color: #ea4c89; }
	    &.oceanwp-dribbble a:hover { background-color: #c64174; }
	    &.oceanwp-vk a { background-color: #597BA5; }
	    &.oceanwp-vk a:hover { background-color: #486384; }
	    &.oceanwp-instagram a { background-color: #3F729B; }
	    &.oceanwp-instagram a:hover { background-color: #315a7c; }
	    &.oceanwp-linkedin a{ background-color: #3399CC; }
	    &.oceanwp-linkedin a:hover { background-color: #2678a1; }
	    &.oceanwp-tumblr a { background-color: #2C4762; }
	    &.oceanwp-tumblr a:hover { background-color: #1d3042; }
	    &.oceanwp-github a { background-color: #60b044; }
	    &.oceanwp-github a:hover { background-color: #4f9237; }
	    &.oceanwp-flickr a { background-color: #fa4086; }
	    &.oceanwp-flickr a:hover { background-color: #c63169; }
	    &.oceanwp-skype a { background-color: #00AFF0; }
	    &.oceanwp-skype a:hover { background-color: #0291c6; }
	    &.oceanwp-youtube a { background-color: #C4302B; }
	    &.oceanwp-youtube a:hover { background-color: #982420; }
	    &.oceanwp-vimeo a { background-color: #1ab7ea; }
	    &.oceanwp-vimeo a:hover { background-color: #1494bd; }
	    &.oceanwp-vine a { background-color: #00bf8f; }
	    &.oceanwp-vine a:hover { background-color: #01906c; }
	    &.oceanwp-xing a { background-color: #006464; }
	    &.oceanwp-xing a:hover { background-color: #014646; }
	    &.oceanwp-yelp a { background-color: #C41200; }
	    &.oceanwp-yelp a:hover { background-color: #940f01; }
	    &.oceanwp-tripadvisor a { background-color: #589442; }
	    &.oceanwp-tripadvisor a:hover { background-color: #426f32; }
	    &.oceanwp-rss a { background-color: #ff7900; }
	    &.oceanwp-rss a:hover { background-color: #d46603; }
	    &.oceanwp-email a { background-color: #13aff0; }
	    &.oceanwp-email a:hover { background-color: #0f8dc2; }
	}
	
	.minimal ul li {
		padding: 0 2px;

		a {
	    	position: relative;
		    display: inline-block;
		    font-size: 12px;
		    color: #bbb;
		    border: 1px solid #ccc;
		    line-height: 1;
    		padding: 1em;
		    border-radius: 50%;
		    vertical-align: middle;
		    -webkit-transition: all .3s ease-out;
		    -moz-transition: all .3s ease-out;
		    -o-transition: all .3s ease-out;
		    transition: all .3s ease-out;

		    span {
		    	width: 1em;
    			height: 1em;
		    }
		}

	    &.oceanwp-twitter a:hover { color: #46d4fe; border-color: #46d4fe; }
	    &.oceanwp-facebook a:hover { color: #37589b; border-color: #37589b; }
	    &.oceanwp-googleplus a:hover { color: #de5a49; border-color: #de5a49; }
	    &.oceanwp-pinterest a:hover { color: #cb2027; border-color: #cb2027; }
	    &.oceanwp-dribbble a:hover { color: #ea4c89; border-color: #ea4c89; }
	    &.oceanwp-vk a:hover { color: #597BA5; border-color: #597BA5; }
	    &.oceanwp-instagram a:hover { color: #3F729B; border-color: #3F729B; }
	    &.oceanwp-linkedin a:hover { color: #3399CC; border-color: #3399CC; }
	    &.oceanwp-tumblr a:hover { color: #2C4762; border-color: #2C4762; }
	    &.oceanwp-github a:hover { color: #60b044; border-color: #60b044; }
	    &.oceanwp-flickr a:hover { color: #fa4086; border-color: #fa4086; }
	    &.oceanwp-skype a:hover { color: #00AFF0; border-color: #00AFF0; }
	    &.oceanwp-youtube a:hover { color: #C4302B; border-color: #C4302B; }
	    &.oceanwp-vimeo a:hover { color: #1ab7ea; border-color: #1ab7ea; }
	    &.oceanwp-vine a:hover { color: #00bf8f; border-color: #00bf8f; }
	    &.oceanwp-xing a:hover { color: #006464; border-color: #006464; }
	    &.oceanwp-yelp a:hover { color: #C41200; border-color: #C41200; }
	    &.oceanwp-tripadvisor a:hover { color: #589442; border-color: #589442; }
	    &.oceanwp-rss a:hover { color: #ff7900; border-color: #ff7900; }
	    &.oceanwp-email a:hover { color: #13aff0; border-color: #13aff0; }
	}
	
	.dark ul li {
		padding: 0 2px;

		a {
	    	position: relative;
		    display: inline-block;
		    font-size: 12px;
		    background-color: $color-2;
		    color: $color-1;
		    line-height: 1;
    		padding: 1em;
		    border-radius: 50%;
		    vertical-align: middle;
		    -webkit-transition: all .3s ease-out;
		    -moz-transition: all .3s ease-out;
		    -o-transition: all .3s ease-out;
		    transition: all .3s ease-out;

		    &:hover {
		    	background-color: #000;
		    	color: $color-1;
		    }

		    span {
		    	width: 1em;
    			height: 1em;
		    }
		}
	}
}

/**
 * Dropdown
 */
.dropdown-menu,
.dropdown-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}

.dropdown-menu {
	.sub-menu {
		position: absolute;
		top: 100%;
		left: 0;
		background-color: $color-1;
		border-top: 3px solid $color-5;
		min-width: 180px;
		line-height: 1;
		text-align: left;
		z-index: 999;
		-webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
		box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
	}

	li .sub-menu li.menu-item {
		display: block;
		float: none;
	}

	ul .sub-menu {
		top: 0;
		left: 100%;
	}
}

.no-top-border .sub-menu {
	border: none;
}

.dropdown-menu {
	ul li.menu-item {
		display: block;
		border-bottom: 1px solid $color-9;
	}

	ul li.menu-item:last-child {
		border-bottom: 0;
	}

	ul li a.menu-link {
		display: block;
		position: relative;
		float: none;
		font-size: 12px;
		font-weight: 400;
		line-height: 1.2em;
		letter-spacing: 0.6px;
		padding: 12px 15px;
		text-transform: capitalize;

		&:hover {
			background-color: $color-8;
			color: $color-11;
		}

		.nav-arrow {
			position: absolute;
			top: 50%;
			right: 15px;
			margin-top: -6.5px;
			padding: 0;
		}

		i {
			position: relative;
			width: 20px;
			text-align: center;
			margin-right: 3px;
		}
	}
}

/**
 * Icons
 */
.dropdown-menu li a.menu-link i {
	padding-right: 5px;
}

/**
 * Megamenu
 */
.navigation .megamenu {
    a .nav-arrow {
        display: none;
    }

    > li > a.menu-link {
	    font-size: 13px;
        font-weight: 600;
    }

    li ul.sub-menu {
        border-top: 1px solid $color-9; 
    }

    li a.menu-link {
    	padding: 12px 20px;
    }

    .sidebar-box {
        padding: 20px;
        margin-bottom: 0;
        line-height: $base-line-height;
        white-space: normal;
    }
}

.navigation > ul > li > ul.megamenu.sub-menu > li {
    float: left;
    border-bottom: 0;
    border-left-width: 1px;
    border-style: solid;
    border-color: $color-9;

    &:first-child {
        border-left: none;
    }
}

.navigation li.megamenu-li.hide-headings > .megamenu > li > a,
.navigation li.megamenu-li > .megamenu > li.hide-heading > a {
    display: none;
}

.navigation .megamenu .sub-menu {
    display: block !important;
    opacity: 1 !important;
    min-width: 100%;
    position: static;
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/**
 * Megamenu columns
 */
.navigation li.megamenu-li .megamenu {
    &.col-1 > li { width: 100%; }
    &.col-2 > li { width: 50%; }
    &.col-3 > li { width: 33.33333333%; }
    &.col-4 > li { width: 25%; }
    &.col-5 > li { width: 20%; }
    &.col-6 > li { width: 16.66666667%; }
}

/**
 * Megamenu auto width
 */
@media only screen and (min-width: 959px) {
    .navigation li.megamenu-li.auto-mega .megamenu {
        &.col-1 { width: 320px; }
        &.col-2 { width: 440px; }
        &.col-3 { width: 660px; }
        &.col-4 { width: 780px; }
        &.col-5 { width: 980px; }
        &.col-6 { width: 1080px; }
    }
}

/**
 * Elementor Template
 */
.navigation > ul > li > ul.megamenu.sub-menu > li .elementor {
	white-space: normal;
    line-height: initial;
}

/**
 * Latest Posts Categories
 */
.navigation li.mega-cat {
    .megamenu {
	    padding: 30px 20px;
	}

	.mega-cat-title {
		position: relative;
	    font-size: 14px;
	    line-height: 1;
	    font-weight: 400;
	    background-color: #f8f8f8;
	    color: $color-3;
	    letter-spacing: 2px;
	    margin: 0 -20px 30px;
	    padding: 15px 35px;
	    text-transform: uppercase;
	}

	> ul > li {
		padding: 0 15px;
	}

	ul li a {
		padding: 0;
	}

	ul li a.mega-post-link {
		display: block;
		position: relative;
	    background-color: #000;

	    img {
			display: block;
		    width: 100%;
		}

		.overlay {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 100%;
			border-radius: 3px;
			background-color: rgba(0,0,0,0.2);
			opacity: 0;
			text-align: center;
			transition: all .3s ease;
			-webkit-transition: all .3s ease;
			-moz-transition: all .3s ease;
			-o-transition: all .3s ease;
			-ms-transition: all .3s ease;
		}

		&:hover .overlay {
			opacity: 1;
		}
	}

	ul li .mega-post-title {
		display: block;
	    margin: 15px 0 8px;
	    white-space: initial;

	    a {
			color: $color-11;
		    font-size: 14px;
		    font-weight: 400;
		    line-height: 1.3;
		    letter-spacing: 0.6px;
		    text-transform: none;

		    &:hover {
				background-color: transparent;
				color: $color-2;
			}
		}
	}

	ul li .mega-post-date {
		display: block;
	    font-size: 10px;
	    color: $color-13;
	    text-transform: uppercase;

	    i {
			font-size: 9px;
			padding-right: 5px;
		}
	}
}

.navigation > ul > li.mega-cat > ul.megamenu.sub-menu > li.first {
	border-left: 0;
}

/**
 * Item description
 */
.nav-content {
    display: block;
    font-size: 11px;
    line-height: 1em;
    padding: 5px 0;
    opacity: 0.7;
}

/**
 * Menu Icons
 */
.navigation li a {
	i.icon, span.icon-wrap, img.icon {
		display: inline-block;
		vertical-align: middle;
	}

	i {
		&.icon {
			margin-top: -.265em;
			width: auto;
			height: auto;
			font-size: 1.2em;
			font-weight: 400;
			line-height: 1;
			padding: 0 !important;
		}

		&.before {
			margin-right: 6px;
		}

		&.after {
			margin-left: 6px;
		}

		&.elusive {
			margin-top: -.3em;
		}
	}

	span.icon-wrap {
		text-align: center;

		i.below, img {
    		display: block;
    		margin: 0 0 8px;
    	}

    	img {
    		margin: 0 auto 8px auto;
    	}

    	span.menu-text {
    		display: block;
    		line-height: 1;
    	}
	}

	img {
		&.before {
			margin-right: 6px;
		}

		&.after {
			margin-left: 6px;
		}
	}
	
	.svg {
		width: 1em;
	}

	.hidden {
		display: none !important;
	}
}